<template>
    <footer class="footer">
          <div class="ui container">
            <div class="ui aligned grid stackable">
                <div class="left floated aligned six wide column">
                  <a href="mailto:bricksandcanvas@gmail.com" class="email">bricksandcanvas@gmail.com</a>
                  <small>+63 9086742983</small>
                </div>
                <div class="right floated right aligned eight wide column">
                  <nav>
                    <ul>
                      <li><a href="https://www.behance.net/bricksandcanvas">Behance</a></li>
                      <li><a href="https://dribbble.com/bricksandcanvas">Dribbble</a></li>
                      <li><a href="https://twitter.com/brcksandcnvs">Twitter</a></li>
                      <li><a href="https://www.linkedin.com/in/bricksandcanvas/">Linkedin</a></li>
                    </ul>
                  </nav>
              </div>
              <div class="sixteen wide column bottom-links">
                <small>BricksAndCanvas 2021</small>
              </div>
            </div>
          </div>
        </footer>
</template>
<style lang="scss" scoped>
  $gold: #DFD3C3;
  $lightgold: #AAA195;
footer.footer{
  background:#000;
  padding:200px 0px 120px 0px;
  color:#fff;
  font-family: 'Inter', sans-serif;
  a{
    display:block;
    color:$lightgold;
  }
  .bottom-links{
    margin-top:40px;
    small{
      color:rgb(180, 175, 175);
    }
  }
  .floated.right{
    float: right;

    nav{
      ul{
        margin:0px;
        padding:0px;
        list-style: none;
        float: right;
        li{
          float: left;
          margin-left:30px;
          line-height: 28px;
          a{
           color:$lightgold;
          }
        }
      }
    }
  }
  .email{
    font-size:18px;
    font-weight: 600;
  }
  small{
    font-size:14px;
    color:rgb(255, 255, 255);
  }
}
</style>
