<template>
  <div>
    <Header />
    <div class="home">
      <div class="hero">
        <div class="ui container">
          <div class="ui grid centered">
            <div class="fourteen wide column">
              <div><strong>Web Architecture</strong> thru data.</div>
              <h1>User Experience Designer & Developer</h1>
              <p>
                Specializing in SaaS applications, e-commerce, Decentralized
                Platforms, mobile and boutique designs. <br />
              </p>

              <p>
                On my free time, I work on
                <a href="https://whurkd.com/"> Whurkd</a>, <a href="https://frenchieclub.io/">FrenchieClub</a> and <a href="https://frenchieclub.io/">Plats.studio</a>. I also create
                videos about User Experience,<br />
                Freelancing, and Development on
                <a
                  href="https://www.youtube.com/channel/UCmyimN8Ze9EIPjAmRSF0LJg"
                  >Youtube</a
                >
              </p>
              <nuxt-link class="view-casestudy" to="/work"
                >View Case Studies</nuxt-link
              >
            </div>
          </div>
        </div>
      </div>
      <div class="second-container">
        <div class="ui container">
          <div class="ui grid stackable">
            <div class="sixteen wide column">
              <img
                :src="
                  require(`@/assets/casestudies/browser/` + this.secondImage)
                "
                alt=""
                width="100%"
              />
            </div>
          </div>
        </div>
        <div
          class="background_container"
          :class="{ fadeTransition: fadeTranstion }"
          v-bind:style="{
            'background-image':
              'url(' +
              require(`@/assets/casestudies/browser/` + this.secondBg) +
              ')',
          }"
        ></div>
        <div class="top-left" @mouseover="topLeft()" @mouseout="mouseOut"></div>
        <div
          class="top-right"
          @mouseover="topRight()"
          @mouseout="mouseOut"
        ></div>
        <div
          class="bottom-left"
          @mouseover="bottomLeft()"
          @mouseout="mouseOut"
        ></div>
        <div
          class="bottom-right"
          @mouseover="bottomRight()"
          @mouseout="mouseOut"
        ></div>
      </div>

      <div class="defi">
        <div class="ui container">
          <div class="ui grid">
            <div class="sixteen wide column">
              <h3>Defi Projects</h3>
            </div>
          </div>
          <div class="ui two column grid stackable">
            <div class="column">
              <div class="project_contianer">
                <nuxt-link to="/work/defi/lemonswap">
                  <img src="@/assets/casestudies/defi/Defi_1.png" />
                </nuxt-link>
              </div>
            </div>
            <div class="column">
              <div class="project_contianer">
                <nuxt-link to="/work/defi/onyx">
                  <img src="@/assets/casestudies/defi/Defi_2.png" />
                </nuxt-link>
              </div>
            </div>
            <div class="column">
              <div class="project_contianer">
                <nuxt-link to="/work/defi/crystlvault">
                  <img src="@/assets/casestudies/defi/Defi_3.png" />
                </nuxt-link>
              </div>
            </div>
            <div class="column">
              <div class="project_contianer">
                <nuxt-link to="/work/defi/diamondDAO">
                  <img src="@/assets/casestudies/defi/Defi_4.png" />
                </nuxt-link>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="personal-projects">
        <div class="ui container">
          <div class="ui grid">
            <div class="sixteen wide column">
              <h3>My Personal Projects</h3>
            </div>
          </div>
          <div class="ui three column grid stackable">
            <div class="column">
                <a href="https://frenchieclub.io/">
                  <div class="img-container">
                      <img src="@/assets/homepage/Personal-project-1.png" />
                  </div>

                  <div class="meta-container">
                    <h6>FrenchieClub NFT</h6>
                    <p>Founder, UI/UX Designer and Developer</p>
                    <small>Led the creation of the FrenchieNFT, as well as creating the direction of where the aesthetic of the collection will go as well as designin and developing frenchieclub.io</small>
                  </div>
                </a>

            </div>
            <div class="column">
                <a href="https://whurkd.com/">
                  <div class="img-container">
                      <img src="@/assets/homepage/Personal-project-2.png" />
                  </div>

                  <div class="meta-container">
                    <h6>Whurkd</h6>
                    <p>Founder, UI/UX Designer and Developer</p>
                    <small>Designed, and Developed a full fledged job application website with User and Company profiles as well as multiple features to fix pain points for job seekers and companies alike.</small>
                  </div>
                </a>

            </div>
            <div class="column">
                <a href="https://plats.studio/">
                  <div class="img-container">
                      <img src="@/assets/homepage/Personal-project-3.png" />
                  </div>

                  <div class="meta-container">
                    <h6>Plats.studio</h6>
                    <p>Founder, UI/UX Designer, Developer</p>
                    <small>Founded a Headless Commerce agency specializing in custom Shopify experiences using either Hydrogen or NextJS as the underlying framework for speed and optimization.</small>
                  </div>
                </a>

            </div>
          </div>
        </div>
      </div>

      <div class="clients">
        <div class="ui container">
          <div class="ui grid stackable">
            <div class="six wide column">
              <h2 data-aos="fade-down" data-aos-duration="800">
                I am proud to contribute to <span> my clients’</span> success.
              </h2>
            </div>
          </div>
          <div class="ui grid centered stackable">
            <div class="fourteen wide column">
              <div class="ui three column grid stackable">
                <div class="column">
                  <div class="client_image">
                    <img
                      src="@/assets/homepage/Adidas_Logo.svg"
                      alt=""
                      data-aos="fade-down"
                      data-aos-duration="800"
                      data-aos-delay="200"
                      style="height: 100px; width: 200px"
                    />
                  </div>
                </div>
                <div class="column">
                  <div class="client_image">
                    <img
                      src="@/assets/homepage/a4tech_Logo.svg"
                      alt=""
                      data-aos="fade-down"
                      data-aos-duration="800"
                      data-aos-delay="400"
                      style="height: 100px; width: 200px"
                    />
                  </div>
                </div>
                <div class="column">
                  <div class="client_image">
                    <img
                      src="@/assets/homepage/bakerhughes_Logo.svg"
                      alt=""
                      data-aos="fade-down"
                      data-aos-duration="800"
                      data-aos-delay="600"
                      style="height: 100px; width: 200px"
                    />
                  </div>
                </div>
                <div class="column">
                  <div class="client_image">
                    <img
                      src="@/assets/homepage/pia_Logo.svg"
                      alt=""
                      data-aos="fade-down"
                      data-aos-duration="800"
                      data-aos-delay="200"
                      style="height: 100px; width: 200px"
                    />
                  </div>
                </div>
                <div class="column">
                  <div class="client_image">
                    <img
                      src="@/assets/homepage/bitcoin_Logo.svg"
                      alt=""
                      data-aos="fade-down"
                      data-aos-duration="800"
                      data-aos-delay="400"
                      style="height: 100px; width: 200px"
                    />
                  </div>
                </div>
                <div class="column">
                  <div class="client_image">
                    <img
                      src="@/assets/homepage/Cebupacific_Logo.svg"
                      alt=""
                      data-aos="fade-down"
                      data-aos-duration="800"
                      data-aos-delay="600"
                      style="height: 100px; width: 200px"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="showcase">
        <div class="ui container">
          <div class="ui grid stackable">
            <div class="seven wide column">
              <div
                class="top-heading"
                data-aos="fade-right"
                data-aos-duration="800"
                data-aos-delay="200"
              >
                <strong>DECENTRALIZED </strong>FINANCE
              </div>
              <h3
                data-aos="fade-right"
                data-aos-duration="800"
                data-aos-delay="400"
              >
                Decentralized Finance Platform
              </h3>
              <p
                data-aos="fade-right"
                data-aos-duration="800"
                data-aos-delay="800"
              >
                Designing a platform that will be used by thousands of crypto
                investors to improve their portfolio.
              </p>
              <h4
                data-aos="fade-up"
                data-aos-duration="800"
                data-aos-delay="400"
              >
                SERVICES USED
              </h4>
              <ul>
                <li
                  data-aos="fade-up"
                  data-aos-duration="800"
                  data-aos-delay="200"
                >
                  Branding
                </li>
                <li
                  data-aos="fade-up"
                  data-aos-duration="800"
                  data-aos-delay="400"
                >
                  User Interaction Design
                </li>
                <li
                  data-aos="fade-up"
                  data-aos-duration="800"
                  data-aos-delay="600"
                >
                  High Fidelity Designs
                </li>
                <li
                  data-aos="fade-up"
                  data-aos-duration="800"
                  data-aos-delay="600"
                >
                  Front-end Development
                </li>
              </ul>
              <nuxt-link
                to="work/defiplatform"
                class="view-casestudy"
                data-aos="fade-up"
                data-aos-duration="800"
                data-aos-delay="700"
                >View Case Study</nuxt-link
              >
            </div>
            <div class="nine wide column">
              <picture>
                <source
                  srcset="@/assets/casestudies/defiplatform/defi_thumbnail.webp"
                  type="image/webp"
                />
                <img
                  src="@/assets/casestudies/defiplatform/defi_thumbnail.png"
                  alt="Decentralized Platform UI/UX"
                  data-aos="fade-up"
                  data-aos-duration="800"
                  data-aos-delay="800"
                />
              </picture>
            </div>
          </div>
          <div class="ui grid stackable mobile-flip">
            <div class="nine wide column">
              <picture>
                <source
                  srcset="
                    @/assets/casestudies/queenscoffee/queenscoffee_thumbnail.webp
                  "
                  type="image/webp"
                />
                <img
                  src="@/assets/casestudies/queenscoffee/queenscoffee_thumbnail.png"
                  alt="Queens Coffee Headless Commerce"
                  data-aos="fade-up"
                  data-aos-duration="800"
                  data-aos-delay="800"
                />
              </picture>
            </div>
            <div class="seven wide column">
              <div
                class="top-heading"
                data-aos="fade-right"
                data-aos-duration="800"
                data-aos-delay="200"
              >
                <strong>HEADLESS </strong>COMMERCE
              </div>
              <h3
                data-aos="fade-right"
                data-aos-duration="800"
                data-aos-delay="400"
              >
                Queens Coffee Commerce
              </h3>
              <p
                data-aos="fade-right"
                data-aos-duration="800"
                data-aos-delay="800"
              >
                Developing the full online branding of the company as well as
                using Headless Ecommerce with Shopify Plus.
              </p>
              <h4
                data-aos="fade-up"
                data-aos-duration="800"
                data-aos-delay="400"
              >
                SERVICES USED
              </h4>
              <ul>
                <li
                  data-aos="fade-up"
                  data-aos-duration="800"
                  data-aos-delay="200"
                >
                  Branding
                </li>
                <li
                  data-aos="fade-up"
                  data-aos-duration="800"
                  data-aos-delay="400"
                >
                  User Interaction Design
                </li>
                <li
                  data-aos="fade-up"
                  data-aos-duration="800"
                  data-aos-delay="600"
                >
                  High Fidelity Designs
                </li>
                <li
                  data-aos="fade-up"
                  data-aos-duration="800"
                  data-aos-delay="600"
                >
                  Shopify Plus Development
                </li>
              </ul>
              <nuxt-link
                to="work/queenscoffee"
                class="view-casestudy"
                data-aos="fade-up"
                data-aos-duration="800"
                data-aos-delay="700"
                >View Case Study</nuxt-link
              >
            </div>
          </div>
        </div>
      </div>

      <div class="blog">
        <div class="ui container">
          <div class="ui grid stackable">
            <div class="sixteen wide column">
              <span class="top-heading"
                ><strong>Articles </strong>that I wrote.
              </span>
              <h3>Articles & Blog</h3>
            </div>
          </div>
        </div>
        <horizontal-scroll class="horizontal-scroll">
          <div class="outer" draggable="true">
            <nuxt-link class="inner-content nft" to="/blog/how-to-make-an-nft">
              <div class="title">Creating NFT's from scratch.</div>
            </nuxt-link>
            <nuxt-link class="inner-content first" to="/blog/starting-youtube">
              <div class="title">Starting a youtube channel</div>
            </nuxt-link>
            <nuxt-link
              class="inner-content second-tap"
              to="/blog/crypto-currency"
            >
              <div class="title">CryptoCurrency Exchange Design</div>
            </nuxt-link>
            <nuxt-link class="inner-content third" to="/blog/photoshop-xd">
              <div class="title">Transitioning to Adobe XD from Photoshop</div>
            </nuxt-link>
            <nuxt-link class="inner-content fourth" to="/blog/ux-practices">
              <div class="title">UX Practices For An Ecommerce Shop</div>
            </nuxt-link>
            <nuxt-link class="inner-content fifth" to="/blog/sketch-meetup">
              <div class="title">Sketch Meetup and how to talk to clients</div>
            </nuxt-link>
            <nuxt-link class="inner-content sixth" to="/blog/palawan">
              <div class="title">Spontaneous Workation to Palawan</div>
            </nuxt-link>
          </div>
        </horizontal-scroll>
      </div>
      <div class="testimonials">
        <div class="ui container">
          <div class="ui grid centered stackable">
            <div class="sixteen wide column">
              <div class="top-heading"><strong>What</strong> clients say</div>
              <h3>Client Testimonials</h3>

              <ul class="testimonial_list">
                <li>
                  <p>
                    Peter was a breath of fresh air when it comes to developers.
                    He was quick, professional and took all of my comments into
                    consideration. The end result exceeded my expectations.
                  </p>
                  <small>Danny Courisou – Managing Director</small>
                </li>
                <li>
                  <p>
                    I can’t thank you enough for having no life the last 3
                    months to seriously improve our user experience and mobile.
                    I appreciate your dedication and efforts immensely
                  </p>
                  <small>Marshall – CEO and Founder, AquariumHub</small>
                </li>
                <li>
                  <p>
                    Mr. Garcia did a fantastic job creating a design for our
                    application, on demand with a great turnaround time. His
                    work has exceeded our expectations and we would recommend
                    him without hesitation to anyone looking for a great
                    designer. His code was clean, concise, and easy to work
                    with, and he was very communicative throughout the process.
                    Thanks, Peter!.
                  </p>
                  <small>Chief Executive Officer, Bitcoin ATM</small>
                </li>
                <li>
                  <p>
                    I needed a refresh of one of my websites in preparation for
                    a marketing push. /u/mserenio was prompt, courteous,
                    understood what I was looking for, and got the job done well
                    and on time. Extremely responsive to feedback and emails.
                    Highly recommend.
                  </p>
                  <small>Jeremy Glaplion – Glaplion Law Firm</small>
                </li>
                <li>
                  <p>
                    He delivered quickly, with great communication and really
                    nice code and up to date code implementations.
                  </p>
                  <small>Daniel Coutinho</small>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="contact">
        <div class="ui container">
          <div class="ui grid centered stackable">
            <div class="twelve wide column">
              <div class="contact_place">
                <p>Have a project in mind</p>
                <nuxt-link to="/contact">BRING IT ON</nuxt-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
import HorizontalScroll from "vue-horizontal-scroll";
import "vue-horizontal-scroll/dist/vue-horizontal-scroll.css";

export default {
  name: "App",
  components: {
    HorizontalScroll,
  },
  mounted: function () {
    var bgContainer = this.$refs.bgContainer;
  },
  data: function () {
    return {
      secondBg: "browser_first_background.webp",
      secondImage: "browser_first.webp",
      fadeTranstion: true,
    };
  },
  methods: {
    topLeft: function () {
      this.fadeTranstion = !this.fadeTranstion;
      this.secondBg = "browser_first_background.webp";
      this.secondImage = "browser_first.webp";
    },
    topRight: function () {
      this.fadeTranstion = !this.fadeTranstion;
      this.secondBg = "browser_second_background.webp";
      this.secondImage = "browser_second.webp";
    },
    bottomLeft: function () {
      this.fadeTranstion = !this.fadeTranstion;
      this.secondBg = "browser_third_background.webp";
      this.secondImage = "browser_third.webp";
    },
    bottomRight: function () {
      this.fadeTranstion = !this.fadeTranstion;
      this.secondBg = "browser_fourth_background.webp";
      this.secondImage = "browser_fourth.webp";
    },
    mouseOut: function () {
      this.fadeTranstion = false;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
$gold: #dfd3c3;
$lightgold: #aaa195;
@keyframes bgFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

:root {
  --red: #aa373c;
  --gold: #dfd3c3;
}
.view-casestudy {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  color: #e74c3c;
  &:before {
    content: " ";
    height: 2px;
    background: var(--red);
    width: 100%;
    display: block;
    left: 0px;
    bottom: 0px;
    position: absolute;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  &:after {
    content: " ";
    height: 2px;
    background: #fff;
    width: 0%;
    display: block;
    left: 0px;
    bottom: 6px;
    position: absolute;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 0%;
    }
    &:after {
      width: 100%;
    }
  }
}
.top-heading {
  color: $lightgold;
  font-family: "Inter", sans-serif;
  strong {
    font-weight: 600;
  }
}
.second-container {
  background-position: center center;
  background-repeat: no-repeat;
  padding: 60px 0px;
  background-size: cover;
  position: relative;
  img {
    max-width: 100%;
    position: relative;
    z-index: 10;
  }
  .fadeTransition {
    animation: bgFadeIn 1s;
  }
  .background_container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .top-left {
    height: 50%;
    width: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
  }
  .top-right {
    height: 50%;
    width: 50%;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 10;
  }
  .bottom-left {
    height: 50%;
    width: 50%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 10;
  }
  .bottom-right {
    height: 50%;
    width: 50%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 10;
  }
}
.horizontal-scroll {
  display: flex;
  width: 100%;
  height: 500px;
  .outer {
    display: flex;
    flex: 1;
    width: auto;
    height: 100%;
    padding: 0 20px;
    flex-flow: row nowrap;
    align-items: center;
  }
  .inner-content {
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 420px;
    position: relative;
    &:hover {
    }
    .title {
      padding: 8px 12px 8px 22px;
      width: auto;
      display: inline;
      position: absolute;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.5);
      color: $gold;
      font-size: 26px;
      text-transform: capitalize;
      font-family: "DM Serif Display", serif;
      transition: 0.25s all;
      line-height: 30px;
      display: flex;
      align-content: flex-end;
      align-items: flex-end;
      white-space: initial;
    }
  }
  .first {
    background: url("@/assets/casestudies/blog/youtube.webp");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .nft {
    background: url("@/assets/casestudies/blog/creating_nfts.webp");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .second-tap {
    background: url("@/assets/casestudies/blog/CryptoCurrency_Exchange_Design.webp");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .third {
    background: url("@/assets/casestudies/blog/Adobe_XD_From_Photoshop.webp");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .fourth {
    background: url("@/assets/casestudies/blog/UX_Practices_For_An_Ecommerce_Shop.webp");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .fifth {
    background: url("@/assets/casestudies/blog/Sketch_Meetup.webp");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .sixth {
    background: url("@/assets/casestudies/blog/palawan.webp");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .inner-content:not(:first-of-type) {
    margin-left: 30px;
  }
}
.view-casestudy {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  &:before {
    content: " ";
    height: 2px;
    background: var(--red);
    width: 100%;
    display: block;
    left: 0px;
    bottom: 0px;
    position: absolute;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  &:after {
    content: " ";
    height: 2px;
    background: #fff;
    width: 0%;
    display: block;
    left: 0px;
    bottom: 6px;
    position: absolute;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 0%;
    }
    &:after {
      width: 100%;
    }
  }
}
.home {
  background: #000;
  margin-top: -90px;
  .hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .top-heading {
      margin-top: 20px;
    }
    h1 {
      font-size: 90px;
      line-height: 90px;
      color: $gold;
      font-family: "DM Serif Display", serif;
      font-weight:bold;
    }
    p {
      font-family: "Inter", sans-serif;
      color: $lightgold;
      font-size: 14px;
      line-height: 22px;
      a {
        color: $lightgold;
        text-decoration: underline;
      }
    }
    a.view-casestudy {
      display: inline-block;
    }
  }
  .second {
    color: #fff;
    padding: 120px;
    height: 100vh;
  }
  .defi {
    padding: 40px 0px;
    justify-content: center;
    align-items: center;
    .project_contianer {
      img {
        width: 100%;
      }
    }
    h3 {
      color: $gold;
      font-weight: normal;
      font-size: 48px;
      margin-bottom: 0px;
      font-family: "DM Serif Display", serif;
      span {
        font-family: "DM Serif Display", serif;
        font-style: italic;
        color: $lightgold;
      }
    }
  }
  .clients {
    padding: 40px 0px;
    justify-content: center;
    align-items: center;
    h2 {
      color: $gold;
      font-weight: normal;
      font-size: 32px;
      font-family: "Inter", sans-serif;
      margin-bottom: 30px;
      span {
        font-family: "DM Serif Display", serif;
        font-style: italic;
        color: $lightgold;
      }
    }
    .client_image {
      padding: 40px 0px;
      text-align: center;
    }
  }
  .showcase {
    min-height: 100vh;
    .seven.wide.column {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
    }
    .top-heading {
      margin-top: 120px;
    }
    img {
      width: 100%;
    }
    h3 {
      font-family: "DM Serif Display", serif;
      font-size: 72px;
      line-height: 72px;
      color: $gold;
    }
    h3 + p {
      font-family: "Inter", sans-serif;
      color: $lightgold;
      line-height: 24px;
    }
    h4 {
      font-family: "Inter", sans-serif;
      text-transform: uppercase;
      color: $lightgold;
      font-size: 14px;
      font-weight: 700;
      margin-top: 50px;
    }
    ul {
      padding: 0px;
      margin: 0px;
      list-style: none;
      li {
        font-family: "Inter", sans-serif;
        color: $lightgold;
        line-height: 24px;
        font-size: 13px;
      }
    }
    .view-casestudy {
      margin-top: 40px;
      display: inline-block;
    }
  }
  .personal-projects{
    padding:80px 0px;
    h3 {
      color: $gold;
      font-family: "DM Serif Display", serif;
      font-size: 42px;
    }
    .img-container{
      img{
        width: 100%;
      }
    }
    .meta-container{
      h6{
        font-family: "DM Serif Display", serif;
        font-size:18px;
        color:$gold;
        margin:10px 0px 5px 0px;
      }
      p{
        font-family: "Inter", sans-serif;
        color:$lightgold;
        margin-bottom:10px;
      }
      small{
        font-family: "Inter", sans-serif;
        font-size:12px;
        color:$lightgold - 60%;
      }
    }
  }
  .blog {
    padding: 120px 0px;
    h3 {
      color: $gold;
      font-family: "DM Serif Display", serif;
      font-size: 62px;
    }
    .blog_post {
      height: 380px;
      width: 320px;
      position: relative;
      float: left;
      cursor: pointer;
      .overlay {
        background: rgba(0, 0, 0, 0.555);
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        position: absolute;
      }
      &:hover {
        .blog_post--image {
          background-size: 110%;
        }
      }
      .blog_meta {
        display: block;
        position: relative;
        z-index: 10;
        margin: 190px 0px 0px -30px;
        h3 {
          color: $gold;
          font-size: 32px;
          font-family: "DM Serif Display", serif;
        }
        p {
          color: $gold;
        }
      }
    }
  }
  .testimonials {
    padding: 0px;
    text-align: center;
    .top-heading {
      text-align: center;
    }
    h3 {
      font-family: "DM Serif Display", serif;
      font-size: 72px;
      color: $gold;
      text-align: center;
    }
    .testimonial_list {
      margin: 0px;
      padding: 0px;
      li {
        padding: 20px;
        border: 1px solid #4b3f2e;
        margin-bottom: 5px;
        list-style: none;
        p {
          font-size: 14px;
          color: $gold;
          font-family: "Inter", sans-serif;
        }
        small {
          color: #b6a691;
          font-family: "Inter", sans-serif;
        }
      }
    }
  }
  .contact {
    padding: 40px 0px;
    .contact_place {
      background: #aa373c;
      text-align: center;
      padding: 120px 0px;
      p {
        font-weight: bold;
        font-size: 56px;
        color: #fff;
        margin: 0px 0px 50px 0px;
      }
      a {
        font-size: 16px;
        color: #fff;
        text-transform: uppercase;
        font-family: "Inter", sans-serif;
        border-bottom: 2px dashed #fff;
      }
    }
  }
}
@media (max-width: 768px) and (min-width: 320px) {
  .mobile-flip {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .column.seven {
      order: 1;
    }
    .column.nine {
      order: 2;
    }
  }
  .horizontal-scroll {
    height: 360px;
    .inner-content {
      height: 360px;
      width: 70%;
    }
  }
  .mobile-flip {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .seven {
      order: 1;
    }
    .img-container {
      order: 2;
    }
  }
  .home {
    .hero {
      height: 100vh;
      h1 {
        font-size: 48px;
        line-height: 50px;
      }
    }
    .showcase {
      img {
        width: 100%;
      }
    }
    .blog {
      .blog_post {
        .blog_meta {
          margin: 20px 0px 0px 20px;
        }
      }
    }
    .showcase {
      min-height: none;
    }
    .posts_master {
      margin-top: 0px;
    }
    .testimonials {
      margin-top: 0px;
      padding: 0px;
      transform: none;
      .top-heading {
        margin-top: 0px;
      }
      h3 {
        font-size: 32px;
      }
    }
    .contact {
      margin-top: 0px;
      padding: 0px;
      .contact_place {
        padding: 40px;
        margin: 0px;
        h6 {
          font-size: 24px;
          line-height: 36px;
          margin-bottom: 20px;
        }
        a {
          margin-top: 0px;
        }
      }
    }
  }
}
</style>
