h1, h2, h3, h4{
    font-family: "dharma_gothic_ebold", Arial,Helvetica Neue,Helvetica,sans-serif;
}
h5, h6{
    font-family: 'Space Grotesk', sans-serif;
}
p, a, ul li, ol li{
    font-family: 'Space Grotesk', sans-serif;
    font-size:16px;
    line-height: 26px;
    color:rgb(223, 223, 223);
}