<template>
<div>
    <Header />
        <div class="case-studies cebupacific">
            <div class="hero">
                <div class="ui container">
                    <div class="ui grid stackable">
                        <div class="ten wide column">
                            <div class="top-heading" data-aos-duration="1000" data-aos-delay="200" data-aos="fade-down" >Case Studies </div>
                            <h1 data-aos="fade-down"  data-aos-duration="1000" data-aos-delay="500">Process Automation User Interface.</h1>
                            <p data-aos="fade-left"  data-aos-duration="1200" data-aos-delay="600">Simplifying processes, and making it as easy as cake.</p>
                        </div>
                        <div class="six wide column">
                            <img src="@/assets/casestudies/cakewalk/cakewalk_logo.svg" alt="" data-aos="fade-left"  data-aos-duration="1200" data-aos-delay="500">
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-content">
                <div class="ui container">
                    <div class="ui grid stackable">
                        <div class="four wide column case-study-content">
                            <div class="sticky">
                                <h6>CLIENT</h6>
                                <ul>
                                    <li>Cakewalk</li>
                                </ul>
                                <h6>ROLE</h6>
                                <ul>
                                    <li>Branding</li>
                                    <li>User Interface Design</li>
                                    <li>High Fidelity Designs</li>
                                </ul>

                                <h6>TECHNOLOGIES</h6>
                                <ul>
                                    <li>Adobe XD</li>
                                    <li>Adobe Photoshop</li>
                                    <li>Adobe Illustrator</li>
                                </ul>
                            </div>
                        </div>
                        <div class="twelve wide column case-study-images">
                            <h2>Process Automation, and the problems that come with it</h2>
                            <div class="images-container">
                                <picture>
                                    <source srcset="@/assets/casestudies/cakewalk/cakewalk_homepage.webp" type="image/webp">
                                    <img src="@/assets/casestudies/cakewalk/cakewalk_homepage.png" alt="a4 Tech Case Study">
                                </picture>
                                <picture>
                                    <source srcset="@/assets/casestudies/cakewalk/Login.webp" type="image/webp">
                                    <img src="@/assets/casestudies/cakewalk/Login.png" alt="a4 Tech Case Study">
                                </picture>
                                <picture>
                                    <source srcset="@/assets/casestudies/cakewalk/Main_Dashboard10.webp" type="image/webp">
                                    <img src="`@/assets/casestudies/cakewalk/Main_Dashboard10.png`" alt="a4 Tech Case Study">
                                </picture>
                                <picture>
                                    <source srcset="@/assets/casestudies/cakewalk/Main_Dashboard11.webp" type="image/webp">
                                    <img src="`@/assets/casestudies/cakewalk/Main_Dashboard11.png`" alt="a4 Tech Case Study">
                                </picture>
                                <picture>
                                    <source srcset="@/assets/casestudies/cakewalk/Main_Dashboard12.webp" type="image/webp">
                                    <img src="`@/assets/casestudies/cakewalk/Main_Dashboard12.png`" alt="a4 Tech Case Study">
                                </picture>
                                <picture>
                                    <source srcset="@/assets/casestudies/cakewalk/Main_Dashboard14.webp" type="image/webp">
                                    <img src="`@/assets/casestudies/cakewalk/Main_Dashboard14.png`" alt="a4 Tech Case Study">
                                </picture>
                                <picture>
                                    <source srcset="@/assets/casestudies/cakewalk/Main_Dashboard17.webp" type="image/webp">
                                    <img src="`@/assets/casestudies/cakewalk/Main_Dashboard17.png`" alt="a4 Tech Case Study">
                                </picture>
                                <picture>
                                    <source srcset="@/assets/casestudies/cakewalk/Main_Dashboard18.webp" type="image/webp">
                                    <img src="`@/assets/casestudies/cakewalk/Main_Dashboard18.png`" alt="a4 Tech Case Study">
                                </picture>
                                <picture>
                                    <source srcset="@/assets/casestudies/cakewalk/Main_Dashboard19.webp" type="image/webp">
                                    <img src="`@/assets/casestudies/cakewalk/Main_Dashboard19.png`" alt="a4 Tech Case Study">
                                </picture>
                                <picture>
                                    <source srcset="@/assets/casestudies/cakewalk/Main_Dashboard20.webp" type="image/webp">
                                    <img src="`@/assets/casestudies/cakewalk/Main_Dashboard20.png`" alt="a4 Tech Case Study">
                                </picture>
                                <picture>
                                    <source srcset="@/assets/casestudies/cakewalk/Main_Dashboard21.webp" type="image/webp">
                                    <img src="`@/assets/casestudies/cakewalk/Main_Dashboard21.png`" alt="a4 Tech Case Study">
                                </picture>
                                <picture>
                                    <source srcset="@/assets/casestudies/cakewalk/Main_Dashboard23.webp" type="image/webp">
                                    <img src="`@/assets/casestudies/cakewalk/Main_Dashboard23.png`" alt="a4 Tech Case Study">
                                </picture>
                                <picture>
                                    <source srcset="@/assets/casestudies/cakewalk/Main_Dashboard30.webp" type="image/webp">
                                    <img src="`@/assets/casestudies/cakewalk/Main_Dashboard30.png`" alt="a4 Tech Case Study">
                                </picture>
                                <picture>
                                    <source srcset="@/assets/casestudies/cakewalk/Main_Dashboard31.webp" type="image/webp">
                                    <img src="`@/assets/casestudies/cakewalk/Main_Dashboard31.png`" alt="a4 Tech Case Study">
                                </picture>
                                <picture>
                                    <source srcset="@/assets/casestudies/cakewalk/Main_Dashboard32.webp" type="image/webp">
                                    <img src="`@/assets/casestudies/cakewalk/Main_Dashboard32.png`" alt="a4 Tech Case Study">
                                </picture>
                                <picture>
                                    <source srcset="@/assets/casestudies/cakewalk/Main_Dashboard33.webp" type="image/webp">
                                    <img src="`@/assets/casestudies/cakewalk/Main_Dashboard33.png`" alt="a4 Tech Case Study">
                                </picture>
                                <picture>
                                    <source srcset="@/assets/casestudies/cakewalk/Main_Dashboard34.webp" type="image/webp">
                                    <img src="`@/assets/casestudies/cakewalk/Main_Dashboard34.png`" alt="a4 Tech Case Study">
                                </picture>
                                <picture>
                                    <source srcset="@/assets/casestudies/cakewalk/Main_Dashboard35.webp" type="image/webp">
                                    <img src="`@/assets/casestudies/cakewalk/Main_Dashboard35.png`" alt="a4 Tech Case Study">
                                </picture>
                                <picture>
                                    <source srcset="@/assets/casestudies/cakewalk/Main_Dashboard36.webp" type="image/webp">
                                    <img src="`@/assets/casestudies/cakewalk/Main_Dashboard37.png`" alt="a4 Tech Case Study">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <Footer />
</div>
</template>
<style scoped lang="scss">
  $gold: #DFD3C3;
  $lightgold: #AAA195;

  .case-studies{
      background:#000;
      .top-heading{
        color:$lightgold;
        font-family: 'Inter', sans-serif;
      }
      .hero{
          height:calc(100vh - 120px);
          display: flex;
          align-content: center;
          justify-content: center;
          align-items: center;
          color:$gold;
          h1{
            font-family: 'DM Serif Display', serif;
            font-size:82px;
            line-height: 78px;
            color:$gold;
            margin-bottom:30px;
          }
          p{
              color:#fff;
              font-family: 'Inter', sans-serif;
              font-size:15px;
              line-height: 26px;
              margin-left:120px;
              color:$lightgold;
          }
          .six.wide.column{
              img{
                  width: 100%;
              }
          }
      }
      .main-content{
        color:#fff;
        padding:120px 0px;
        .case-study-content{
            .sticky{
                position: -webkit-sticky;
                position: sticky;
                top: 20px;
            }
            h6{
                font-family: 'Inter', sans-serif;
                font-size:12px;
                letter-spacing: 3px;
                margin-bottom:10px;
                color:$gold;

            }
            ul{
                margin:0px;
                font-family: 'Inter', sans-serif;
                padding:0px;
                list-style: none;
                li{
                    color:$lightgold;
                    line-height: 24px;
                    font-size:11px;
                }
            }
        }
        .case-study-images{
            h2{
                font-family: 'DM Serif Display', serif;
                font-size:40px;
                color:$gold;
            }
            p{
                font-family: 'Inter', sans-serif;
                font-size:16px;
                color:$lightgold;
                line-height: 28px;
            }
            .images-container{
                img{
                    max-width: 100%;
                }
            }
        }
      }
  }
@media (max-width: 768px) and (min-width: 240px) {
            .mobile-flip{
                display:flex;
                flex-wrap: wrap;
                flex-direction: row;
                .text-container{
                    order:1;
                }
                .img-container{
                    order:2;
                }
            }
        .case-studies{
            .hero{
                height:80vh;
                .top-heading{
                    margin-top:120px;
                }
                h1{
                    font-size:62px;
                    line-height:52px;
                }
                p{
                    margin-left:0px !important;
                }
                img{
                    display:none;
                }
            }
            .main-content{
                padding:40px 0px;
                .ui.grid{
                    display:flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    .four.wide.column{
                        order:2;
                    }
                    .twelve.wide.column{
                        order:1;
                        h2{
                            font-size:32px;
                        }
                    }
                }
            }
        }
    }
</style>
