<template>
<div>
    <Header />
    <div class="case-studies cebupacific">
        <div class="hero">
            <div class="ui container">
                <div class="ui grid stackable">
                    <div class="ten wide column">
                        <div class="top-heading" data-aos-duration="1000" data-aos-delay="200" data-aos="fade-down" >Case Studies </div>
                        <h1 data-aos="fade-down"  data-aos-duration="1000" data-aos-delay="500">Decentralized Finance Platform.</h1>
                        <p data-aos="fade-left"  data-aos-duration="1200" data-aos-delay="600">Designing a platform that will be used by thousands of crypto investors to improve their portfolio.</p>
                    </div>
                    <div class="six wide column">
                    </div>
                </div>
            </div>
        </div>
        <!-- Convert png to webp  "find . -name "*.png" | parallel -eta cwebp {} -o {.}.webp"  -->
        <div class="main-content">
            <div class="ui container">
                <div class="ui grid stackable">
                    <div class="four wide column case-study-content">
                        <div class="sticky">
                            <h6>CLIENT</h6>
                            <ul>
                                <li>DefiPlatform</li>
                            </ul>
                            <h6>ROLE</h6>
                            <ul>
                                <li>Branding</li>
                                <li>User Interaction Design</li>
                                <li>High Fidelity Designs</li>
                                <li>Front-end Development</li>
                            </ul>

                            <h6>TECHNOLOGIES</h6>
                            <ul>
                                <li>Adobe XD</li>
                                <li>Adobe Photoshop</li>
                                <li>Adobe Illustrator</li>
                                <li>React.js</li>
                                <li>Next.js</li>
                                <li>Tailwind</li>
                            </ul>
                        </div>
                    </div>
                    <div class="twelve wide column case-study-images">
                        <h2>Developing great User Experience for Crypto investors</h2>
                        <p>When I was hired to work on this project, the brief was simple. Create beautiful and usable user experiences that make it easy
                            to digest financial information for both desktop and mobile users. Execution was far from simple though.
                        </p>

                        <div class="images-container">
                            <picture>
                                <source srcset="@/assets/casestudies/defiplatform/device_dashboard.webp" type="image/webp">
                                <img src="@/assets/casestudies/defiplatform/device_dashboard.png" alt="Defi Platform by Peter Garcia Dashboard">
                            </picture>
                            <picture>
                                <source srcset="@/assets/casestudies/defiplatform/defiplatform_homepage.webp" type="image/webp">
                                <img src="@/assets/casestudies/defiplatform/defiplatform_homepage.png" alt="Defi Platform by Peter Garcia Homepage">
                            </picture>
                            <picture>
                                <source srcset="@/assets/casestudies/defiplatform/pricing.webp" type="image/webp">
                                <img src="@/assets/casestudies/defiplatform/pricing.png" alt="Defi Platform by Peter Garcia Homepage">
                            </picture>
                            <picture>
                                <source srcset="@/assets/casestudies/defiplatform/auth.webp" type="image/webp">
                                <img src="@/assets/casestudies/defiplatform/auth.png" alt="Defi Platform by Peter Garcia Homepage">
                            </picture>
                            <picture>
                                <source srcset="@/assets/casestudies/defiplatform/mobile_homepage.webp" type="image/webp" style="margin:60px 0px;">
                                <img src="@/assets/casestudies/defiplatform/mobile_homepage.png" alt="Defi Platform by Peter Garcia Homepage" style="margin:60px 0px;">
                            </picture>
                            <picture>
                                <source srcset="@/assets/casestudies/defiplatform/Hot_Contracts.webp" type="image/webp">
                                <img src="@/assets/casestudies/defiplatform/Hot_Contracts.png" alt="Defi Platform by Peter Garcia Homepage">
                            </picture>
                            <picture>
                                <source srcset="@/assets/casestudies/defiplatform/Token_Mode.webp" type="image/webp">
                                <img src="@/assets/casestudies/defiplatform/Token_Mode.png" alt="Defi Platform by Peter Garcia Homepage">
                            </picture>
                        </div>

                        <div class="ui two column grid stackable" style="margin:60px 0px;">
                            <div class="column">
                                <div class="images-container">
                                    <picture>
                                        <source srcset="@/assets/casestudies/defiplatform/icon2.webp" type="image/webp">
                                        <img src="@/assets/casestudies/defiplatform/icon2.png" alt="Defi Platform by Peter Garcia Homepage">
                                    </picture>
                                </div>
                            </div>
                            <div class="column">
                                <div class="images-container">
                                    <picture>
                                        <source srcset="@/assets/casestudies/defiplatform/icon.webp" type="image/webp">
                                        <img src="@/assets/casestudies/defiplatform/icon.png" alt="Defi Platform by Peter Garcia Homepage">
                                    </picture>
                                </div>
                            </div>
                        </div>

                        <div class="images-container">
                            <picture>
                                <source srcset="@/assets/casestudies/defiplatform/news_toggle_1.webp" type="image/webp">
                                <img src="@/assets/casestudies/defiplatform/news_toggle_1.png" alt="Defi Platform by Peter Garcia Dashboard">
                            </picture>
                            <p>Usually financial applications have a marquee component to track stocks that have went up or down all throughout the day.
                                <br>
                                <br>
                                Repurposing this to show off related news would be a good idea.
                                <br>
                                <br>
                                BUT the problem is, due to the nature of a marquee, users might not read the whole content before it slides to the side. So I added an anchor “Related news” with an eye catching icon so that if the user wants to see a list of the things in the marquee (Related News), they can just click on it.</p>
                            <picture>
                                <source srcset="@/assets/casestudies/defiplatform/news_toggle_2.webp" type="image/webp">
                                <img src="@/assets/casestudies/defiplatform/news_toggle_2.png" alt="Defi Platform by Peter Garcia Dashboard">
                            </picture>
                            <p>When the marquee is hovered, it will pause, and when an ARTICLE LINK is clicked, the news modal will slide from the right, and show off the article (NOT ARTICLE LIST)
                                <br>
                                <br>
                                when the related news CTA is clicked, a modal with the list of articles relating to that graph will be shown.
                                <br>
                                <br>
                                I didn’t go with a dark theme as the default for the news section since people with normal vision or corrected (wearing glasses) perform better when reading information in article form
                                </p>
                            <picture>
                                <source srcset="@/assets/casestudies/defiplatform/news_toggle_3.webp" type="image/webp">
                                <img src="@/assets/casestudies/defiplatform/news_toggle_3.png" alt="Defi Platform by Peter Garcia Dashboard">
                            </picture>
                                <p>Depending on how an article will be parsed on the backend so that it will be related to the data to the dashboard, but my guess would be thru keywords(?).  If that is the case, highlighting the keywords that was used to correlate the article to the data in the dashboard might be a good idea.
                                    <br>
                                    <br>
                                    When clicking on a news article, the user is not redirected to an outgoing site but instead the article will just be loaded on the same modal with a SLIDE LEFT ANIMATION to emphasis that the user clicked on the same article that they will be reading.
                                    <br>
                                    <br>
                                    This also makes it easier for the user because they can toggle the modal on and off while checking the article and the data on the dashboard instead of alt-tabbing to different tab.
                                    <br>
                                    <br>
                                    This is especially useful for mobile since you won’t to switch to multiple tabs to peruse data from each article
                                </p>

                            <h3>Tools used</h3>
                            <div class="ui six column grid stackable">
                                <div class="column tools">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="212.536" height="70.455" viewBox="0 0 212.536 70.455">
                                    <g id="Group_370" data-name="Group 370" transform="translate(-6.579 -12.546)">
                                        <g id="Group_369" data-name="Group 369" transform="translate(7.41 13.519)">
                                        <circle id="Ellipse_9" data-name="Ellipse 9" cx="7.223" cy="7.223" r="7.223" transform="translate(31.492 26.96)" fill="#fff"/>
                                        <g id="Group_368" data-name="Group 368" transform="translate(0 0)">
                                            <path id="Path_110" data-name="Path 110" d="M38.758,9.4c9.7,0,18.706,1.391,25.5,3.73,8.184,2.818,13.216,7.088,13.216,10.955,0,4.03-5.333,8.567-14.121,11.478-6.644,2.2-15.388,3.35-24.593,3.35-9.438,0-18.375-1.079-25.094-3.375C5.163,32.63.043,28.034.043,24.081c0-3.836,4.8-8.073,12.873-10.886,6.818-2.377,16.049-3.8,25.841-3.8Z" transform="translate(-0.043 10.102)" fill="none" stroke="#fff" stroke-width="1.663" fill-rule="evenodd"/>
                                            <path id="Path_111" data-name="Path 111" d="M17.866,26.9c4.845-8.4,10.55-15.509,15.969-20.225C40.365.99,46.578-1.236,49.928.7c3.491,2.013,4.757,8.9,2.889,17.967-1.411,6.856-4.785,15-9.383,22.978-4.715,8.176-10.114,15.379-15.459,20.051-6.764,5.913-13.3,8.052-16.727,6.077-3.323-1.915-4.594-8.195-3-16.59,1.347-7.093,4.727-15.8,9.617-24.283Z" transform="translate(8.065 -0.014)" fill="none" stroke="#fff" stroke-width="1.663" fill-rule="evenodd"/>
                                            <path id="Path_112" data-name="Path 112" d="M17.868,41.621C13.01,33.23,9.7,24.735,8.321,17.686,6.659,9.191,7.834,2.7,11.181.76c3.488-2.019,10.086.323,17.009,6.47,5.234,4.647,10.609,11.638,15.221,19.6C48.139,35,51.683,43.277,53.062,50.241c1.744,8.813.333,15.546-3.089,17.527-3.32,1.922-9.394-.113-15.871-5.687C28.629,57.372,22.774,50.1,17.868,41.621Z" transform="translate(8.076 0.027)" fill="none" stroke="#fff" stroke-width="1.663" fill-rule="evenodd"/>
                                        </g>
                                        </g>
                                        <path id="Path_113" data-name="Path 113" d="M76.966,55.873,68.114,42.5c4.474-.395,8.506-3.637,8.506-9.559,0-6.026-4.277-9.883-10.276-9.883H53.168V55.848h4.081V42.819h6.54l8.358,13.03ZM65.855,39.255h-8.6V26.718h8.6c3.886,0,6.54,2.556,6.54,6.245s-2.656,6.3-6.54,6.3Zm26.3,17.207a12.9,12.9,0,0,0,9.441-3.637l-1.771-2.411a10.38,10.38,0,0,1-7.325,3c-5.112,0-8.26-3.736-8.555-8.208h19.222v-.935c0-7.128-4.229-12.735-11.409-12.735-6.785,0-11.7,5.557-11.7,12.439,0,7.425,5.064,12.469,12.094,12.469ZM99.536,42.5H83.951c.2-3.637,2.7-7.918,7.768-7.918C97.128,34.579,99.487,38.955,99.536,42.5Zm28.125,13.375V39.548c0-5.752-4.177-8.015-9.193-8.015a12.424,12.424,0,0,0-9.489,3.934l1.721,2.556a9.436,9.436,0,0,1,7.277-3.294c3.441,0,6,1.818,6,5.014V44.02a9.929,9.929,0,0,0-7.868-3.246c-4.032,0-8.312,2.508-8.312,7.818,0,5.162,4.277,7.868,8.312,7.868a10.272,10.272,0,0,0,7.868-3.294v2.7Zm-10.224-2.066c-3.441,0-5.852-2.161-5.852-5.162,0-3.049,2.411-5.212,5.852-5.212a7.953,7.953,0,0,1,6.54,2.951v4.474a7.956,7.956,0,0,1-6.54,2.951Zm28.054,2.656a10.17,10.17,0,0,0,8.7-4.129l-2.458-2.261a7.15,7.15,0,0,1-6.026,3.1c-5.064,0-8.208-3.934-8.208-9.193s3.146-9.144,8.208-9.144a6.985,6.985,0,0,1,6.026,3.1l2.458-2.261a10.162,10.162,0,0,0-8.7-4.129c-7.08,0-11.849,5.409-11.849,12.439,0,7.08,4.769,12.469,11.849,12.469Zm19.867,0a6.043,6.043,0,0,0,4.426-1.523L168.7,52.185a3.525,3.525,0,0,1-2.508.983c-1.621,0-2.411-1.278-2.411-3.049V35.369h4.821V32.125h-4.821v-6.49H160.1v6.49h-3.934v3.246H160.1V50.909c0,3.541,1.771,5.557,5.262,5.557Z" transform="translate(49.331 10.282)" fill="#fff" fill-rule="evenodd"/>
                                    </g>
                                    </svg>
                                </div>
                                <div  class="column tools">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="146.832" height="88.157" viewBox="0 0 146.832 88.157">
                                    <g id="Black-Next.js" transform="translate(0 0)">
                                        <g id="next-black" transform="translate(0 0)">
                                        <g id="EXT-_-Type-something" data-name="EXT-+-Type-something" transform="translate(0 0)">
                                            <path id="EXT" d="M48.942,23.279H76.636V25.47H51.481V41.957H75.136v2.191H51.481v18.1H76.925v2.191H48.942Zm30.175,0h2.942L95.1,41.38l13.328-18.1L126.554.287l-29.782,43,15.347,21.156h-3.058L95.1,45.185,81.079,64.439h-3L93.541,43.283Zm34.1,2.191V23.279h31.559V25.47H130.235V64.439H127.7V25.47Z" transform="translate(-14.296 -0.287)" fill="#fff"/>
                                            <path id="Type-something" d="M.2,32.632H3.376L47.133,97.8l-18.083-24L2.857,35.745,2.742,73.792H.2Z" transform="translate(-0.203 -9.64)" fill="#fff"/>
                                        </g>
                                        <path id="_.JS" data-name=".JS" d="M183.027,82.781a.917.917,0,1,0-.908-.917A.891.891,0,0,0,183.027,82.781Zm2.495-2.412a2.483,2.483,0,0,0,2.717,2.523,2.55,2.55,0,0,0,2.754-2.812V73.8h-1.383v6.276c0,.991-.5,1.52-1.383,1.52a1.238,1.238,0,0,1-1.346-1.224Zm7.28-.08c.1,1.587,1.426,2.6,3.4,2.6,2.112,0,3.433-1.064,3.433-2.763,0-1.335-.753-2.074-2.581-2.5l-.982-.24c-1.161-.271-1.63-.634-1.63-1.267,0-.8.729-1.323,1.821-1.323a1.7,1.7,0,0,1,1.883,1.329h1.346c-.08-1.5-1.4-2.547-3.211-2.547-1.945,0-3.242,1.052-3.242,2.633,0,1.3.735,2.08,2.346,2.455l1.148.277c1.179.277,1.7.683,1.7,1.36,0,.788-.815,1.36-1.926,1.36-1.192,0-2.019-.535-2.136-1.378Z" transform="translate(-52.805 -21.481)" fill="#fff"/>
                                        </g>
                                    </g>
                                    </svg>
                                </div>
                                <div class="column tools">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="160.083" height="50.698" viewBox="0 0 160.083 50.698">
                                    <g id="Group_372" data-name="Group 372" transform="translate(-4.6 -11.772)">
                                        <path id="Path_125" data-name="Path 125" d="M65.525,25.768a7.339,7.339,0,0,0-2.263.33,4.281,4.281,0,0,0-1.739,1.023,5.04,5.04,0,0,0-1.159,1.795,8.393,8.393,0,0,0-.47,2.635q-.087,2.484,0,4.969a8.293,8.293,0,0,0,.47,2.635,5.36,5.36,0,0,0,1.159,1.823A4.737,4.737,0,0,0,63.262,42a7.929,7.929,0,0,0,2.263.3,7.472,7.472,0,0,0,2.263-.33,5.072,5.072,0,0,0,1.795-1.045A4.95,4.95,0,0,0,70.8,39.106a6.959,6.959,0,0,0,.442-2.594V35.1H66.433a.543.543,0,0,1-.608-.62V34.1a.543.543,0,0,1,.608-.62h5.9a.548.548,0,0,1,.62.62v2.429a8.921,8.921,0,0,1-.5,3.038A6.583,6.583,0,0,1,71,41.912a6.379,6.379,0,0,1-2.35,1.545,8.9,8.9,0,0,1-3.146.524,8.676,8.676,0,0,1-3.146-.524,6.63,6.63,0,0,1-2.291-1.519,6.732,6.732,0,0,1-1.407-2.291,10.079,10.079,0,0,1-.524-2.982q-.056-1.24-.056-2.622t.056-2.622a9.3,9.3,0,0,1,.552-2.954,6.681,6.681,0,0,1,1.407-2.319,6.344,6.344,0,0,1,2.291-1.491,9.267,9.267,0,0,1,6.376.028,7.374,7.374,0,0,1,2.209,1.395,5.593,5.593,0,0,1,1.271,1.685,4.111,4.111,0,0,1,.442,1.463.478.478,0,0,1-.139.414.664.664,0,0,1-.442.139h-.608a.5.5,0,0,1-.36-.108,1.715,1.715,0,0,1-.22-.442,5.99,5.99,0,0,0-.62-1.24,4.019,4.019,0,0,0-1.045-1.1,5.532,5.532,0,0,0-1.573-.8,6.833,6.833,0,0,0-2.154-.3Zm13.031,5.491q.992-1.906,3.754-1.906h1.023a.537.537,0,0,1,.608.608v.387a.537.537,0,0,1-.608.608H82.146a3.333,3.333,0,0,0-3.588,3.588V43.1a.552.552,0,0,1-.194.442.6.6,0,0,1-.442.166H77.48a.537.537,0,0,1-.608-.608V29.986a.6.6,0,0,1,.166-.442.552.552,0,0,1,.442-.194h.442a.663.663,0,0,1,.635.635v1.271ZM95.6,43.713A.537.537,0,0,1,95,43.106v-1.3a4.121,4.121,0,0,1-.662.775,3.922,3.922,0,0,1-.966.69,5.954,5.954,0,0,1-1.395.5,7.122,7.122,0,0,1-1.875.22,6.007,6.007,0,0,1-1.906-.3A5.657,5.657,0,0,1,86.62,42.8a4.554,4.554,0,0,1-1.076-1.3,3.469,3.469,0,0,1-.387-1.627,3.6,3.6,0,0,1,.387-1.685,4.225,4.225,0,0,1,1.131-1.3,5.856,5.856,0,0,1,1.711-.938,10.137,10.137,0,0,1,2.236-.552l4.361-.608v-.966a2.973,2.973,0,0,0-.911-2.319,5.183,5.183,0,0,0-5.245-.22,2.542,2.542,0,0,0-1.045,1.271,1.01,1.01,0,0,1-.276.47.617.617,0,0,1-.387.108h-.387a.571.571,0,0,1-.608-.608,2.356,2.356,0,0,1,.276-.966,3.718,3.718,0,0,1,.883-1.131,5.307,5.307,0,0,1,1.6-.938,5.958,5.958,0,0,1,2.35-.414,6.964,6.964,0,0,1,2.678.442A4.3,4.3,0,0,1,95.6,30.689a3.711,3.711,0,0,1,.828,1.545,6.032,6.032,0,0,1,.248,1.685v9.191a.537.537,0,0,1-.608.608H95.6Zm-5.217-1.325a5.1,5.1,0,0,0,1.767-.3,4.244,4.244,0,0,0,1.491-.966,4.464,4.464,0,0,0,.992-1.6A6.475,6.475,0,0,0,95,37.255v-.938l-3.56.5q-4.581.62-4.581,2.926a2.234,2.234,0,0,0,.3,1.187,2.95,2.95,0,0,0,.828.828,3.719,3.719,0,0,0,1.131.5,5.772,5.772,0,0,0,1.271.139Zm16.98,1.6a5.764,5.764,0,0,1-2.842-.62,5.664,5.664,0,0,1-1.795-1.545v6.54a.537.537,0,0,1-.608.608h-.47a.537.537,0,0,1-.608-.608V29.96a.537.537,0,0,1,.608-.608h.47a.537.537,0,0,1,.608.608v1.3a5.444,5.444,0,0,1,1.795-1.545,6.714,6.714,0,0,1,5.547-.04,4.862,4.862,0,0,1,1.823,1.491,5.81,5.81,0,0,1,.992,2.1,10.437,10.437,0,0,1,.387,2.374q.028.414.028.911t-.028.911a10.693,10.693,0,0,1-.387,2.4,6.156,6.156,0,0,1-.992,2.1,5.222,5.222,0,0,1-1.823,1.491,6,6,0,0,1-2.7.552Zm-4.637-8.447q-.028.414-.028,1.076t.028,1.076a6.884,6.884,0,0,0,.276,1.685,4.571,4.571,0,0,0,.828,1.491,4.517,4.517,0,0,0,1.395,1.1,4.4,4.4,0,0,0,1.987.414,4.35,4.35,0,0,0,2.015-.414,3.564,3.564,0,0,0,1.325-1.1,4.538,4.538,0,0,0,.744-1.627,9.653,9.653,0,0,0,.3-1.933q.028-.775,0-1.545a9.249,9.249,0,0,0-.3-1.906,4.269,4.269,0,0,0-.744-1.6,3.448,3.448,0,0,0-1.325-1.131,4.136,4.136,0,0,0-2.015-.442,4.232,4.232,0,0,0-2.015.442,4.392,4.392,0,0,0-1.395,1.159,5.17,5.17,0,0,0-.8,1.545,6.939,6.939,0,0,0-.276,1.711Zm16.014-4.284a6.1,6.1,0,0,1,1.795-1.573,5.655,5.655,0,0,1,2.842-.608,5.968,5.968,0,0,1,2.456.47,4.8,4.8,0,0,1,1.739,1.3,5.466,5.466,0,0,1,1.076,1.961,8.071,8.071,0,0,1,.36,2.456V43.1a.537.537,0,0,1-.608.608h-.465a.537.537,0,0,1-.608-.608V35.4a5.1,5.1,0,0,0-1.076-3.45,3.891,3.891,0,0,0-3.146-1.271,4.189,4.189,0,0,0-3.174,1.24A4.832,4.832,0,0,0,118.75,35.4v7.7a.537.537,0,0,1-.608.608h-.47a.537.537,0,0,1-.608-.608V24.714a.537.537,0,0,1,.608-.608h.47a.537.537,0,0,1,.608.608v6.54Zm21.527-7.148a8.709,8.709,0,0,1,2.926.47,5.809,5.809,0,0,1,2.263,1.435,6.232,6.232,0,0,1,1.491,2.374,9.935,9.935,0,0,1,.608,3.34q.056,1.24.056,2.319t-.056,2.319q-.139,3.947-2.015,5.8l1.767,2.484q.028.056.056.108a.474.474,0,0,1,.028.194.567.567,0,0,1-.553.553h-.608a.678.678,0,0,1-.524-.248q-.22-.22-.36-.387l-1.218-1.685a8.789,8.789,0,0,1-3.865.8,7.269,7.269,0,0,1-5.327-1.849q-1.849-1.849-1.961-5.768-.056-1.24-.056-2.319t.056-2.319a10.454,10.454,0,0,1,.58-3.34,6.7,6.7,0,0,1,1.491-2.374,6.093,6.093,0,0,1,2.263-1.435,8.8,8.8,0,0,1,2.954-.47Zm0,1.658a6.293,6.293,0,0,0-2.154.36,4.4,4.4,0,0,0-1.739,1.076,5.342,5.342,0,0,0-1.187,1.906,9.187,9.187,0,0,0-.47,2.759q-.028.62-.056,1.159V35.1q.028.524.056,1.131a9.309,9.309,0,0,0,.47,2.79,5.589,5.589,0,0,0,1.159,1.875A4.677,4.677,0,0,0,138.09,42a7.337,7.337,0,0,0,4.352,0,4.461,4.461,0,0,0,1.711-1.1,5.084,5.084,0,0,0,1.159-1.875,8.669,8.669,0,0,0,.5-2.79q.028-.608.028-1.131V33.029q0-.524-.028-1.159a8.622,8.622,0,0,0-.5-2.759,5.057,5.057,0,0,0-1.159-1.906,4.391,4.391,0,0,0-1.739-1.076,6.276,6.276,0,0,0-2.154-.36Zm13.473,16.283h9.522a.548.548,0,0,1,.62.62v.414a.543.543,0,0,1-.62.608H152.613a.537.537,0,0,1-.608-.608V24.993a.537.537,0,0,1,.608-.608h.524a.537.537,0,0,1,.608.608V42.05ZM7.907,49.821l-1.86-1.076,20.734-35.91,1.86,1.076Z" transform="translate(0.796 0.585)" fill="#fff"/>
                                        <path id="Path_126" data-name="Path 126" d="M5.774,34.156H47.241v2.15H5.774Z" transform="translate(0.646 12.308)" fill="#fff"/>
                                        <path id="Path_127" data-name="Path 127" d="M27.046,58.644,6.3,46.668l1.076-1.86L28.12,56.781ZM45.064,27.43,24.323,15.456,25.4,13.6,46.14,25.572Z" transform="translate(0.936 1.003)" fill="#fff"/>
                                        <path id="Path_128" data-name="Path 128" d="M7.382,27.421l-1.076-1.86L27.065,13.6l1.076,1.86Z" transform="translate(0.938 1.005)" fill="#fff"/>
                                        <path id="Path_129" data-name="Path 129" d="M44.389,49.821,23.654,13.912l1.86-1.076,20.734,35.91ZM6.835,24.556H8.982V48.507H6.835Zm36.043,0h2.15V48.507H42.876Z" transform="translate(1.229 0.585)" fill="#fff"/>
                                        <path id="Path_130" data-name="Path 130" d="M19.783,46.347l-.939-1.627,18.04-10.415.939,1.627Z" transform="translate(7.832 12.389)" fill="#fff"/>
                                        <path id="Path_131" data-name="Path 131" d="M49.105,49.791a4.522,4.522,0,1,1-1.657-6.176,4.526,4.526,0,0,1,1.657,6.176M13.037,28.961a4.522,4.522,0,1,1-1.657-6.176,4.526,4.526,0,0,1,1.657,6.176m-7.82,20.83a4.522,4.522,0,1,1,6.176,1.658,4.528,4.528,0,0,1-6.176-1.658m36.069-20.83a4.522,4.522,0,1,1,6.176,1.658,4.528,4.528,0,0,1-6.176-1.658M27.158,62.47a4.518,4.518,0,1,1,4.518-4.518,4.514,4.514,0,0,1-4.518,4.518m0-41.663a4.51,4.51,0,1,1,3.2-1.321,4.514,4.514,0,0,1-3.2,1.321" fill="#fff"/>
                                    </g>
                                    </svg>
                                </div>
                                <div class="column tools">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="178.421" height="36.409" viewBox="0 0 178.421 36.409">
                                    <g id="Group_371" data-name="Group 371" transform="translate(-8.627 -19.516)">
                                        <path id="Path_117" data-name="Path 117" d="M22.463,31.653q3.032-12.137,15.169-12.137c12.137,0,13.651,9.1,19.718,10.618q6.068,1.518,10.618-4.549Q64.935,37.719,52.8,37.72c-12.137,0-13.651-9.1-19.718-10.618q-6.069-1.518-10.618,4.549ZM7.294,49.857Q10.331,37.72,22.463,37.72c12.137,0,13.651,9.1,19.718,10.618q6.068,1.518,10.618-4.549Q49.767,55.925,37.63,55.925c-12.137,0-13.651-9.1-19.718-10.618q-6.068-1.518-10.618,4.549Z" transform="translate(1.333 0)" fill="#fff" fill-rule="evenodd"/>
                                        <path id="Path_118" data-name="Path 118" d="M51.614,28.732H47.643V26.353H58.356v2.379H54.387v10.79H51.614ZM63.543,38.3a5.053,5.053,0,0,1-1.285,1.05,3.668,3.668,0,0,1-1.837.406,4.445,4.445,0,0,1-1.228-.167,2.845,2.845,0,0,1-1.017-.516,2.477,2.477,0,0,1-.691-.894,3.044,3.044,0,0,1-.26-1.3,2.744,2.744,0,0,1,.445-1.623,3,3,0,0,1,1.163-.978,5.821,5.821,0,0,1,1.615-.5,14.657,14.657,0,0,1,1.821-.184l1.236-.056v-.479a1.356,1.356,0,0,0-.49-1.215,2.029,2.029,0,0,0-1.153-.33q-1.537,0-1.754,1.163l-2.361-.221a3.033,3.033,0,0,1,1.328-2.188,5.349,5.349,0,0,1,2.882-.674,5.76,5.76,0,0,1,1.884.267,3.077,3.077,0,0,1,1.247.764,2.969,2.969,0,0,1,.684,1.208,5.543,5.543,0,0,1,.212,1.6v6.086H63.543V38.308Zm-.056-3.08-1.146.056a6.385,6.385,0,0,0-1.311.167,2.283,2.283,0,0,0-.764.323.963.963,0,0,0-.359.451,1.77,1.77,0,0,0-.092.573.934.934,0,0,0,.33.755,1.406,1.406,0,0,0,.92.278,2.659,2.659,0,0,0,1.625-.462,2.042,2.042,0,0,0,.573-.655,2.016,2.016,0,0,0,.221-.986v-.5Zm4.594-5.331h2.587V39.52H68.081Zm-.035-3.542H70.7v2.323H68.047Zm4.834,0h2.587V39.52H72.881Zm3.745,3.542h2.806l1.349,6.381,1.844-6.289h2.254l1.736,6.308,1.349-6.381h2.7l-2.808,9.626H85.341l-1.719-6.345-1.736,6.345H79.43l-2.806-9.626Zm15.21,0h2.587V39.52H91.836ZM91.8,26.351h2.657v2.323H91.8Zm4.817,3.542h2.512v1.328a3.564,3.564,0,0,1,1.354-1.236,3.632,3.632,0,0,1,1.632-.387,3.173,3.173,0,0,1,2.44.858,3.882,3.882,0,0,1,.8,2.7V39.52h-2.585V33.51a1.861,1.861,0,0,0-.389-1.384,1.436,1.436,0,0,0-1.033-.368,2.335,2.335,0,0,0-.859.148,2.3,2.3,0,0,0-.674.424,2.258,2.258,0,0,0-.434.618,1.789,1.789,0,0,0-.174.783v5.791H96.6V29.9Zm17.5,8.355a3.473,3.473,0,0,1-2.992,1.568,3.511,3.511,0,0,1-3.03-1.365,6.275,6.275,0,0,1-1-3.78,6.928,6.928,0,0,1,.288-2.056,4.8,4.8,0,0,1,.821-1.6,3.681,3.681,0,0,1,1.311-1.042,4.217,4.217,0,0,1,3.183-.108,3.426,3.426,0,0,1,1.34,1v-4.5h2.587V39.527h-2.511V38.254Zm-.056-3.652a4.893,4.893,0,0,0-.174-1.476,2.216,2.216,0,0,0-.507-.9,1.787,1.787,0,0,0-.729-.434,3.091,3.091,0,0,0-.783-.1,1.979,1.979,0,0,0-.8.167,1.8,1.8,0,0,0-.665.516,2.533,2.533,0,0,0-.451.92,5.9,5.9,0,0,0,.007,2.813,2.967,2.967,0,0,0,.434.941,1.61,1.61,0,0,0,.646.516,2.036,2.036,0,0,0,.8.174,2.174,2.174,0,0,0,1.514-.535,2.257,2.257,0,0,0,.543-.894,4.442,4.442,0,0,0,.174-1.354v-.33Zm20.214.368a6.1,6.1,0,0,1-.49,1.945,4.792,4.792,0,0,1-1.089,1.549,4.844,4.844,0,0,1-1.7,1.023,6.832,6.832,0,0,1-2.335.368,6.513,6.513,0,0,1-2.632-.5,5.174,5.174,0,0,1-1.9-1.4,6.014,6.014,0,0,1-1.155-2.188,9.75,9.75,0,0,1-.387-2.83,9.022,9.022,0,0,1,.424-2.877,6.291,6.291,0,0,1,1.219-2.176,5.262,5.262,0,0,1,1.92-1.384,6.464,6.464,0,0,1,2.552-.479,6.888,6.888,0,0,1,2.188.313,4.313,4.313,0,0,1,1.571.9,4.541,4.541,0,0,1,1.024,1.42,7.5,7.5,0,0,1,.571,1.863l-2.735.351a3.729,3.729,0,0,0-.781-1.827,2.319,2.319,0,0,0-1.84-.663,2.735,2.735,0,0,0-2.408,1.189,5.892,5.892,0,0,0-.825,3.365,5.559,5.559,0,0,0,.879,3.375,2.778,2.778,0,0,0,2.354,1.181,2.428,2.428,0,0,0,1.875-.655,3.288,3.288,0,0,0,.747-1.872Zm4.023.26A2.388,2.388,0,0,0,139.084,37a3.2,3.2,0,0,0,2.04.556,3.71,3.71,0,0,0,1.09-.139,2.112,2.112,0,0,0,.721-.368,1.3,1.3,0,0,0,.4-.543,1.875,1.875,0,0,0,.12-.682,1.453,1.453,0,0,0-.385-.969,2.471,2.471,0,0,0-1.424-.655l-1.719-.313a9.713,9.713,0,0,1-1.792-.479,4.142,4.142,0,0,1-1.3-.764,3.055,3.055,0,0,1-.8-1.153,4.32,4.32,0,0,1-.278-1.623,3.525,3.525,0,0,1,.379-1.66,3.4,3.4,0,0,1,1.052-1.2,5,5,0,0,1,1.615-.729,8.052,8.052,0,0,1,2.07-.248,7.516,7.516,0,0,1,2.4.33,4.3,4.3,0,0,1,1.552.877,3.412,3.412,0,0,1,.877,1.264,6.071,6.071,0,0,1,.382,1.493l-2.6.33a2.569,2.569,0,0,0-.781-1.568,2.739,2.739,0,0,0-1.764-.479,4.538,4.538,0,0,0-1.155.122,2.324,2.324,0,0,0-.729.313,1.077,1.077,0,0,0-.389.451,1.366,1.366,0,0,0-.111.535,1.4,1.4,0,0,0,.417,1.106,3.1,3.1,0,0,0,1.412.573l1.809.351a6.315,6.315,0,0,1,3.143,1.372,3.617,3.617,0,0,1,1,2.738,3.909,3.909,0,0,1-.323,1.6,3.577,3.577,0,0,1-.962,1.273,4.515,4.515,0,0,1-1.6.849,7.46,7.46,0,0,1-2.254.3,6.425,6.425,0,0,1-4.127-1.153,4.549,4.549,0,0,1-1.563-3.476h2.789Zm11.981,0A2.388,2.388,0,0,0,151.064,37a3.211,3.211,0,0,0,2.04.556,3.735,3.735,0,0,0,1.094-.139,2.08,2.08,0,0,0,.721-.368,1.3,1.3,0,0,0,.4-.543,1.875,1.875,0,0,0,.12-.682,1.459,1.459,0,0,0-.387-.969,2.477,2.477,0,0,0-1.424-.655l-1.719-.313a9.714,9.714,0,0,1-1.792-.479,4.142,4.142,0,0,1-1.3-.764,3.078,3.078,0,0,1-.8-1.153,4.286,4.286,0,0,1-.278-1.623,3.525,3.525,0,0,1,.379-1.66,3.615,3.615,0,0,1,1.052-1.215,4.658,4.658,0,0,1,1.615-.729,8.052,8.052,0,0,1,2.07-.248,7.516,7.516,0,0,1,2.4.33,4.314,4.314,0,0,1,1.552.877,3.372,3.372,0,0,1,.877,1.264,6.148,6.148,0,0,1,.382,1.493l-2.6.33a2.569,2.569,0,0,0-.781-1.568,2.739,2.739,0,0,0-1.764-.479,4.538,4.538,0,0,0-1.155.122,2.323,2.323,0,0,0-.729.313,1.076,1.076,0,0,0-.389.451,1.336,1.336,0,0,0-.111.535,1.4,1.4,0,0,0,.417,1.106,3.1,3.1,0,0,0,1.413.573l1.827.365a6.315,6.315,0,0,1,3.143,1.372,3.617,3.617,0,0,1,1,2.738,3.89,3.89,0,0,1-.323,1.6,3.56,3.56,0,0,1-.962,1.273,4.513,4.513,0,0,1-1.6.851,7.417,7.417,0,0,1-2.252.3,6.434,6.434,0,0,1-4.129-1.153,4.462,4.462,0,0,1-1.542-3.476Z" transform="translate(28.729 4.783)" fill="#fff" fill-rule="evenodd"/>
                                    </g>
                                    </svg>
                                </div>
                                <div class="column tools">
                                    <svg id="Layer_2_1_" xmlns="http://www.w3.org/2000/svg" width="54.521" height="53.158" viewBox="0 0 54.521 53.158">
                                    <g id="Surfaces">
                                        <g id="UI_UX_Surface">
                                        <g id="Outline_no_shadow">
                                            <path id="Path_114" data-name="Path 114" d="M9.655,0H44.867a9.647,9.647,0,0,1,9.655,9.655V43.5a9.647,9.647,0,0,1-9.655,9.655H9.655A9.647,9.647,0,0,1,0,43.5V9.655A9.647,9.647,0,0,1,9.655,0Z" fill="#fff"/>
                                        </g>
                                        </g>
                                    </g>
                                    <g id="Outlined_Mnemonics_Logos" transform="translate(7.942 11.65)">
                                        <g id="Xd">
                                        <path id="Path_115" data-name="Path 115" d="M55.688,60.341,48.873,71.586l7.27,11.927a.391.391,0,0,1,.045.273c-.023.091-.114.023-.25.045h-5.2c-.363,0-.613-.023-.772-.25-.477-.954-.977-1.886-1.454-2.84-.477-.931-1-1.886-1.545-2.862s-1.09-1.954-1.636-2.953h-.045c-.477.977-1,1.954-1.522,2.931s-1.045,1.954-1.545,2.908c-.522.954-1.045,1.931-1.567,2.862-.091.227-.273.25-.522.25h-5c-.091,0-.159.045-.159-.068a.315.315,0,0,1,.045-.25L42.08,71.972,35.2,60.318c-.068-.091-.091-.182-.045-.227A.263.263,0,0,1,35.379,60h5.157a1.341,1.341,0,0,1,.318.045.644.644,0,0,1,.227.2c.432.977.931,1.954,1.454,2.931.545.977,1.068,1.931,1.636,2.885.545.954,1.045,1.908,1.522,2.885h.045c.477-1,.977-1.976,1.477-2.931s1.022-1.908,1.545-2.862,1.022-1.931,1.522-2.862a.386.386,0,0,1,.136-.227.433.433,0,0,1,.3-.045h4.793a.209.209,0,0,1,.25.159c.023.023-.023.114-.068.159Z" transform="translate(-34.961 -58.02)" fill="#0d0926"/>
                                        <path id="Path_116" data-name="Path 116" d="M139.861,77.572a11.294,11.294,0,0,1-4.884-1.022,7.92,7.92,0,0,1-3.43-3.09,9.83,9.83,0,0,1-1.249-5.18,9.33,9.33,0,0,1,1.249-4.793,9.434,9.434,0,0,1,3.612-3.521,11.62,11.62,0,0,1,5.747-1.318,4.057,4.057,0,0,1,.477.023c.2.023.432.023.7.045V51.538c0-.159.068-.25.227-.25h4.612a.2.2,0,0,1,.227.159V73.119c0,.409.023.863.045,1.363.045.477.068.931.091,1.318a.369.369,0,0,1-.227.363,17.349,17.349,0,0,1-3.7,1.09A20.039,20.039,0,0,1,139.861,77.572Zm2.226-4.543v-10a5.814,5.814,0,0,0-.613-.114c-.25-.023-.5-.045-.75-.045a5.6,5.6,0,0,0-2.567.591,5.093,5.093,0,0,0-1.931,1.681,5.036,5.036,0,0,0-.75,2.885,6.331,6.331,0,0,0,.386,2.34,4.44,4.44,0,0,0,1.022,1.613,3.925,3.925,0,0,0,1.545.909,5.947,5.947,0,0,0,1.886.3c.341,0,.659-.023.954-.045A1.987,1.987,0,0,0,142.087,73.028Z" transform="translate(-108.639 -51.284)" fill="#0d0926"/>
                                        </g>
                                    </g>
                                    </svg>
                                </div>
                                <div class="column tools">
                                    <svg id="vlpa" xmlns="http://www.w3.org/2000/svg" width="54.521" height="53.158" viewBox="0 0 54.521 53.158">
                                    <g id="vlpb">
                                        <g id="vlpc">
                                        <g id="vlpd">
                                            <path id="Path_119" data-name="Path 119" d="M9.655,0H44.866a9.647,9.647,0,0,1,9.655,9.655V43.5a9.647,9.647,0,0,1-9.655,9.655H9.655A9.647,9.647,0,0,1,0,43.5V9.655A9.647,9.647,0,0,1,9.655,0Z" fill="#fff"/>
                                        </g>
                                        </g>
                                    </g>
                                    <g id="vlpe" transform="translate(11.197 11.79)">
                                        <g id="vlpf">
                                        <path id="Path_120" data-name="Path 120" d="M64.445,77.787H55.994l-1.727,5.339a.4.4,0,0,1-.432.318H49.565c-.25,0-.318-.136-.25-.409L56.63,61.976c.068-.227.136-.477.227-.75a7.935,7.935,0,0,0,.136-1.477.225.225,0,0,1,.182-.25h5.884c.182,0,.273.068.3.182l8.292,23.4c.068.25,0,.363-.227.363H66.671a.343.343,0,0,1-.363-.25l-1.863-5.407Zm-7.133-4.612h5.77c-.136-.477-.318-1.045-.522-1.636-.2-.613-.409-1.272-.613-1.954-.227-.7-.432-1.386-.659-2.09s-.432-1.363-.613-2.022c-.182-.636-.341-1.227-.5-1.772h-.045a27.893,27.893,0,0,1-.772,2.931c-.341,1.09-.682,2.226-1.045,3.362-.318,1.159-.659,2.226-1,3.18Z" transform="translate(-49.29 -57.773)" fill="#0d0926"/>
                                        <path id="Path_121" data-name="Path 121" d="M160.49,57.6a2.811,2.811,0,0,1-2.022-.8,2.951,2.951,0,0,1-.772-2.09,2.673,2.673,0,0,1,.818-2.022,2.909,2.909,0,0,1,2.022-.8,2.72,2.72,0,0,1,2.067.8,3.123,3.123,0,0,1-.045,4.112,2.671,2.671,0,0,1-2.067.8Zm-2.544,19.719V59.828c0-.227.091-.318.3-.318h4.5c.2,0,.3.114.3.318V77.321c0,.25-.091.363-.3.363h-4.453A.318.318,0,0,1,157.945,77.321Z" transform="translate(-133.068 -51.9)" fill="#0d0926"/>
                                        </g>
                                    </g>
                                    </svg>

                                </div>
                            </div>
                            <h3>About this project</h3>
                            <p style="column-count:2;">This project was designed for an upcoming Decentralized Finance platform that tracks Ethereum Gas Prices as well as other Crypto assets an investor would want to know about to improve their investing portfolio.
                            <br>
                            <br>
                                I was tasked to deliver a fully working UI/UX design, and branding direction from scratch with the sole purpose of creating a fully realized vision of a company for the future.
                            <br>
                            <br>
                            Aside from developing the branding direction, UI/UX and everything related to the design of the whole website. I was also part of creating the front-end code of the application. The application was coded in React/Next.js using styled components and among other development tools.
                            <br>
                            <br>
                            This project is still currently in development.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <Footer />
</div>

</template>
<style scoped lang="scss">
  $gold: #DFD3C3;
  $lightgold: #AAA195;
svg{
    width:100%;
}
.tools{
    display: flex !important;
    align-content: center;
    justify-content: center;
    align-items: center;
    svg{
        width:110px;
        display: flex;
        align-self: center;
    }
}
h3{
    color:$lightgold;
}
  .case-studies{
      background:#000;
      .top-heading{
        color:$lightgold;
        font-family: 'Inter', sans-serif;
      }
      .hero{
          height:calc(100vh - 120px);
          display: flex;
          align-content: center;
          justify-content: center;
          align-items: center;
          color:$gold;
          h1{
            font-family: 'DM Serif Display', serif;
            font-size:82px;
            line-height: 78px;
            color:$gold;
            margin-bottom:30px;
          }
          p{
              color:#fff;
              font-family: 'Inter', sans-serif;
              font-size:15px;
              line-height: 26px;
              margin-left:120px;
              color:$lightgold;
          }
      }
      .main-content{
        color:#fff;
        padding:120px 0px;
        .case-study-content{
            .sticky{
                position: -webkit-sticky;
                position: sticky;
                top: 20px;
            }
            h6{
                font-family: 'Inter', sans-serif;
                font-size:12px;
                letter-spacing: 3px;
                margin-bottom:10px;
                color:$gold;

            }
            ul{
                margin:0px;
                font-family: 'Inter', sans-serif;
                padding:0px;
                list-style: none;
                li{
                    color:$lightgold;
                    line-height: 24px;
                    font-size:11px;
                }
            }
        }
        .case-study-images{
            h2{
                font-family: 'DM Serif Display', serif;
                font-size:40px;
                color:$gold;
            }
            p{
                font-family: 'Inter', sans-serif;
                font-size:16px;
                color:$lightgold;
                line-height: 28px;
            }
            .images-container{
                img{
                    max-width: 100%;
                }
            }
        }
      }
  }
  @media (max-width: 768px) and (min-width: 240px) {
        .case-studies{
            .hero{
                height:80vh;
                .top-heading{
                    margin-top:120px;
                }
                h1{
                    font-size:62px;
                    line-height:52px;
                }
                p{
                    margin-left:0px !important;
                }
                img{
                    display:none;
                }
            }
            .main-content{
                padding:40px 0px;
                .ui.grid{
                    display:flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    .four.wide.column{
                        order:2;
                    }
                    .twelve.wide.column{
                        order:1;
                        h2{
                            font-size:32px;
                        }
                    }
                }
            }
        }
    }
</style>
