<template>
<div>
    <Header />
    <div class="case-studies">
        <div class="hero">
            <div class="ui container">
                <div class="ui grid">
                    <div class="sixteen wide column">
                        <h1><span class="portfolio" data-aos="fade-left"  data-aos-duration="1000" data-aos-delay="200">Portfolio</span><span data-aos="fade-right"  data-aos-duration="1000" data-aos-delay="200" class="case">Case Studies</span></h1>
                        <div class="line"></div>

                        <div class="scrolldown">SCROLL DOWN</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-content">
            <div class="ui container">
                <div class="ui two column grid stackable">
                    <div class="column img-container">
                        <picture>
                            <source srcset="@/assets/casestudies/main/defiplatform.webp" type="image/webp">
                            <img src="@/assets/casestudies/main/defiplatform.png" alt="DefiPlatform     "  data-aos="fade-up" data-aos-duration="800" data-aos-delay="800">
                        </picture>
                    </div>
                    <div class="column text-container">
                        <h3 data-aos="fade-down"  data-aos-duration="1000" data-aos-delay="200" style="margin-top:60px;">Decentralized finance Platform</h3>
                        <p d data-aos="fade-down" ata-aos-duration="1000" data-aos-delay="400">Designing a platform that will be used by thousands of crypto investors to improve their portfolio</p>
                        <nuxt-link to="/work/defiplatform"  class="view-casestudy" data-aos-duration="1200" data-aos-delay="600">View Case Study</nuxt-link>
                    </div>
                </div>
                <div class="ui two column grid stackable">
                    <div class="column text-container">
                        <h3 data-aos="fade-down"  data-aos-duration="1000" data-aos-delay="200">Bitcoin.org</h3>
                        <p d data-aos="fade-down" ata-aos-duration="1000" data-aos-delay="400">Creating a landing page for bitcoin.org's upcoming crypto wallet.</p>
                        <nuxt-link to="/work/bitcoinorg" data-aos="fade-right" class="view-casestudy" data-aos-duration="1200" data-aos-delay="600">View Case Study</nuxt-link>
                    </div>
                    <div class="column img-container">
                        <picture>
                            <source srcset="@/assets/casestudies/main/bitcoin.webp" type="image/webp">
                            <img src="@/assets/casestudies/main/bitcoin.png" alt="Bitcoin.org Case Study"  data-aos="fade-up" data-aos-duration="800" data-aos-delay="800">
                        </picture>
                    </div>
                </div>
                <div class="ui two column grid stackable mobile-flip">
                    <div class="column img-container">
                        <picture>
                            <source srcset="@/assets/casestudies/main/queenscoffee.webp" type="image/webp">
                            <img src="@/assets/casestudies/main/queenscoffee.png" alt="a4 Tech Case Study"  data-aos="fade-up" data-aos-duration="800" data-aos-delay="800">
                        </picture>
                    </div>
                    <div class="column text-container">
                        <h3 data-aos="fade-down"  data-aos-duration="1000" data-aos-delay="200">QueensCoffee</h3>
                        <p d data-aos="fade-down" ata-aos-duration="1000" data-aos-delay="400">Queens Coffee Headless Commerce.</p>
                        <nuxt-link to="/work/queenscoffee" data-aos="fade-left" class="view-casestudy" data-aos-duration="1200" data-aos-delay="600">View Case Study</nuxt-link>
                    </div>
                </div>
                <div class="ui two column grid stackable mobile-flip">
                    <div class="column img-container">
                        <picture>
                            <source srcset="@/assets/casestudies/main/a4tech.webp" type="image/webp">
                            <img src="@/assets/casestudies/main/a4tech.png" alt="a4 Tech Case Study"  data-aos="fade-up" data-aos-duration="800" data-aos-delay="800">
                        </picture>
                    </div>
                    <div class="column text-container">
                        <h3 data-aos="fade-down"  data-aos-duration="1000" data-aos-delay="200">a4Tech</h3>
                        <p d data-aos="fade-down" ata-aos-duration="1000" data-aos-delay="400">Creating the software experience for managing your a4tech gaming peripherals.</p>
                        <nuxt-link to="/work/a4Tech" data-aos="fade-left" class="view-casestudy" data-aos-duration="1200" data-aos-delay="600">View Case Study</nuxt-link>
                    </div>
                </div>
                <div class="ui two column grid stackable mobile-flip">
                    <div class="column img-container">
                        <picture>
                            <source srcset="@/assets/casestudies/main/y3_showcase.webp" type="image/webp">
                            <img src="@/assets/casestudies/main/y3_showcase.png" alt="a4 Tech Case Study"  data-aos="fade-up" data-aos-duration="800" data-aos-delay="800">
                        </picture>
                    </div>
                    <div class="column text-container">
                        <h3 data-aos="fade-down"  data-aos-duration="1000" data-aos-delay="200">Adidas</h3>
                        <p d data-aos="fade-down" ata-aos-duration="1000" data-aos-delay="400">Working with Adidas to create this amazing landing page for the launch of Yoji Yamamatos new prodct line</p>
                        <nuxt-link to="/work/adidas" data-aos="fade-left" class="view-casestudy" data-aos-duration="1200" data-aos-delay="600">View Case Study</nuxt-link>
                    </div>
                </div>
                <div class="ui two column grid stackable mobile-flip">
                    <div class="column text-container">
                        <h3 data-aos="fade-down"  data-aos-duration="1000" data-aos-delay="200">Cakewalk</h3>
                        <p d data-aos="fade-down" ata-aos-duration="1000" data-aos-delay="400">Developing the brand, style guide, UI/UX design, and front-end code for a process automation software. </p>
                        <nuxt-link to="/work/cakewalk" data-aos="fade-right" class="view-casestudy" data-aos-duration="1200" data-aos-delay="600">View Case Study</nuxt-link>
                    </div>
                    <div class="column img-container">
                        <picture>
                            <source srcset="@/assets/casestudies/main/cakewalk.webp" type="image/webp">
                            <img src="@/assets/casestudies/main/cakewalk.png" alt="a4 Tech Case Study"  data-aos="fade-up" data-aos-duration="800" data-aos-delay="800">
                        </picture>
                    </div>
                </div>
                <div class="ui two column grid stackable mobile-flip">
                    <div class="column img-container">
                        <picture>
                            <source srcset="@/assets/casestudies/buyandsell/buy_and_sell1.webp" type="image/webp">
                            <img src="@/assets/casestudies/buyandsell/buy_and_sell1.png" alt="a4 Tech Case Study"  data-aos="fade-up" data-aos-duration="800" data-aos-delay="800">
                        </picture>
                    </div>
                    <div class="column text-container">
                        <h3 data-aos="fade-down"  data-aos-duration="1000" data-aos-delay="200">Buy & Sell</h3>
                        <p d data-aos="fade-down" ata-aos-duration="1000" data-aos-delay="400">Designing the User Experience for a mobile buy and sell application for the South East Market</p>
                        <nuxt-link to="/work/buyandsell" data-aos="fade-left" class="view-casestudy" data-aos-duration="1200" data-aos-delay="600">View Case Study</nuxt-link>
                    </div>
                </div>

                <div class="ui two column grid stackable mobile-flip">
                    <div class="column text-container">
                        <h3 data-aos="fade-down"  data-aos-duration="1000" data-aos-delay="200">Cheebo Mobile App</h3>
                        <p d data-aos="fade-down" ata-aos-duration="1000" data-aos-delay="400">Capitalzing on your brand to create a community around it with the help of software</p>
                        <nuxt-link to="/work/cheebo" data-aos="fade-right" class="view-casestudy" data-aos-duration="1200" data-aos-delay="600">View Case Study</nuxt-link>
                    </div>
                    <div class="column img-container">
                        <picture>
                            <source srcset="@/assets/casestudies/burger/burger_1.webp" type="image/webp">
                            <img src="@/assets/casestudies/burger/burger_1.png" alt="a4 Tech Case Study"  data-aos="fade-up" data-aos-duration="800" data-aos-delay="800">
                        </picture>
                    </div>
                </div>
                <div class="ui two column grid stackable mobile-flip">
                    <div class="column img-container">
                        <picture>
                            <source srcset="@/assets/casestudies/banking/metrobank_1.webp" type="image/webp">
                            <img src="@/assets/casestudies/banking/metrobank_1.png" alt="a4 Tech Case Study"  data-aos="fade-up" data-aos-duration="800" data-aos-delay="800">
                        </picture>
                    </div>
                    <div class="column text-container">
                        <h3 data-aos="fade-down"  data-aos-duration="1000" data-aos-delay="200">Banking</h3>
                        <p d data-aos="fade-down" ata-aos-duration="1000" data-aos-delay="400">Updating the look of this dated mobile bank application, with ease of use, and usability as the first goal in mind.</p>
                        <nuxt-link to="/work/banking" data-aos="fade-left" class="view-casestudy" data-aos-duration="1200" data-aos-delay="600">View Case Study</nuxt-link>
                    </div>
                </div>
                <div class="ui two column grid stackable mobile-flip">
                    <div class="column text-container">
                        <h3 data-aos="fade-down"  data-aos-duration="1000" data-aos-delay="200">Katcher Dating App</h3>
                        <p d data-aos="fade-down" ata-aos-duration="1000" data-aos-delay="400">Re-inventing Online Dating, and bringing back the physical connection</p>
                        <nuxt-link to="/work/katcher" data-aos="fade-left" class="view-casestudy" data-aos-duration="1200" data-aos-delay="600">View Case Study</nuxt-link>
                    </div>
                    <div class="column img-container">
                        <picture>
                            <source srcset="@/assets/casestudies/katcher/katcher_2.webp" type="image/webp">
                            <img src="@/assets/casestudies/katcher/katcher_2.png" alt="a4 Tech Case Study"  data-aos="fade-up" data-aos-duration="800" data-aos-delay="800">
                        </picture>
                    </div>
                </div>
                <div class="ui two column grid stackable mobile-flip">
                    <div class="column img-container">
                        <picture>
                            <source srcset="@/assets/casestudies/aquariumhub/aquariumhub_casestudy.webp" type="image/webp">
                            <img src="@/assets/casestudies/aquariumhub/aquariumhub_casestudy.png" alt="a4 Tech Case Study"  data-aos="fade-up" data-aos-duration="800" data-aos-delay="800">
                        </picture>
                    </div>
                    <div class="column text-container">
                        <h3 data-aos="fade-down"  data-aos-duration="1000" data-aos-delay="200">AquariumHub</h3>
                        <p d data-aos="fade-down" ata-aos-duration="1000" data-aos-delay="400">E-Commerce Marketplace for the aquascaping niche</p>
                        <nuxt-link to="/work/aquariumhub" data-aos="fade-left" class="view-casestudy" data-aos-duration="1200" data-aos-delay="600">View Case Study</nuxt-link>
                    </div>
                </div>
                <div class="ui grid stackable mobile-flip">
                    <div class="eight wide column text-container">
                        <h3 data-aos="fade-down"  data-aos-duration="1000" data-aos-delay="200" class="marginnone   ">Software Development Agency Website</h3>
                        <p d data-aos="fade-down" ata-aos-duration="1000" data-aos-delay="400">Creating a web agency's website to showcase the companies expertise</p>
                        <nuxt-link to="/work/lanex" data-aos="fade-right" class="view-casestudy" data-aos-duration="1200" data-aos-delay="600">View Case Study</nuxt-link>
                    </div>
                    <div class="eight wide column img-container">
                        <picture>
                            <source srcset="@/assets/casestudies/lanex/lanex_screens.webp" type="image/webp">
                            <img src="@/assets/casestudies/lanex/lanex_screens.png" alt="a4 Tech Case Study"  data-aos="fade-up" data-aos-duration="800" data-aos-delay="800">
                        </picture>
                    </div>
                </div>
                <div class="ui two column grid stackable mobile-flip">
                    <div class="column img-container">
                        <picture>
                            <source srcset="@/assets/casestudies/torrent/main_render.webp" type="image/webp">
                            <img src="@/assets/casestudies/torrent/main_render.png" alt="a4 Tech Case Study"  data-aos="fade-up" data-aos-duration="800" data-aos-delay="800">
                        </picture>
                    </div>
                    <div class="column text-container">
                        <h3 data-aos="fade-down"  data-aos-duration="1000" data-aos-delay="200" class="marginnone">Torrent Software</h3>
                        <p d data-aos="fade-down" ata-aos-duration="1000" data-aos-delay="400">Designing the PC experience for a famous torrent software for better accesesbility to new and old users alike</p>
                        <nuxt-link to="/work/torrent" data-aos="fade-left" class="view-casestudy" data-aos-duration="1200" data-aos-delay="600">View Case Study</nuxt-link>
                    </div>
                </div>
                <div class="ui grid stackable">
                    <div class="eight wide column text-container">
                        <h3 data-aos="fade-down"  data-aos-duration="1000" data-aos-delay="200" class="marginnone   ">Architectural Website</h3>
                        <p d data-aos="fade-down" ata-aos-duration="1000" data-aos-delay="400">Minimalism, great imagery, and clean straight to the point layout for an Architectural Firm</p>
                        <nuxt-link to="/work/pergola" data-aos="fade-left" class="view-casestudy" data-aos-duration="1200" data-aos-delay="600">View Case Study</nuxt-link>
                    </div>
                    <div class="eight wide column img-container">
                        <picture>
                            <source srcset="@/assets/casestudies/main/pergola.webp" type="image/webp">
                            <img src="@/assets/casestudies/main/pergola.png" alt="a4 Tech Case Study"  data-aos="fade-up" data-aos-duration="800" data-aos-delay="800">
                        </picture>
                    </div>
                </div>
                <div class="ui two column grid stackable mobile-flip">
                    <div class="column img-container">
                        <picture>
                            <source srcset="@/assets/casestudies/main/cebupacific.webp" type="image/webp">
                            <img src="@/assets/casestudies/main/cebupacific.png" alt="a4 Tech Case Study"  data-aos="fade-up" data-aos-duration="800" data-aos-delay="800">
                        </picture>
                    </div>
                    <div class="column text-container">
                        <h3 data-aos="fade-down"  data-aos-duration="1000" data-aos-delay="200" class="marginnone">Cebu Pacific Airline Website Study</h3>
                        <p d data-aos="fade-down" ata-aos-duration="1000" data-aos-delay="400">A design project for updating an ageing airlines user experience, and bring it to the 21st century</p>
                        <nuxt-link to="/work/cebupacific" data-aos="fade-left" class="view-casestudy" data-aos-duration="1200" data-aos-delay="600">View Case Study</nuxt-link>
                    </div>
                </div>
                <div class="ui grid stackable">
                    <div class="eight wide column text-container">
                        <h3 data-aos="fade-down"  data-aos-duration="1000" data-aos-delay="200" class="marginnone">Immediation</h3>
                        <p d data-aos="fade-down" ata-aos-duration="1000" data-aos-delay="400">Working along side amazing developers to create the user experience for an mediation platform for lawywers and clients.</p>
                        <nuxt-link to="/work/immediation" data-aos="fade-right" class="view-casestudy" data-aos-duration="1200" data-aos-delay="600">View Case Study</nuxt-link>
                    </div>
                    <div class="eight wide column img-container">
                        <picture>
                            <source srcset="@/assets/casestudies/main/immediation.webp" type="image/webp">
                            <img src="@/assets/casestudies/main/immediation.png" alt="a4 Tech Case Study"  data-aos="fade-up" data-aos-duration="800" data-aos-delay="800">
                        </picture>
                    </div>
                </div>
                <div class="ui two column grid stackable mobile-flip">
                    <div class="column img-container">
                        <picture>
                            <source srcset="@/assets/casestudies/main/foodwishes.webp" type="image/webp">
                            <img src="@/assets/casestudies/main/foodwishes.png" alt="a4 Tech Case Study"  data-aos="fade-up" data-aos-duration="800" data-aos-delay="800">
                        </picture>
                    </div>
                    <div class="column text-container">
                        <h3 data-aos="fade-down"  data-aos-duration="1000" data-aos-delay="200" class="marginnone">Foodwishes Food Recipe Blog</h3>
                        <p d data-aos="fade-down" ata-aos-duration="1000" data-aos-delay="400">Working with chef John to create a food blog that deserves 3.9m subs on Youtube</p>
                        <nuxt-link to="/work/foodwishes" data-aos="fade-left" class="view-casestudy" data-aos-duration="1200" data-aos-delay="600">View Case Study</nuxt-link>
                    </div>
                </div>
                <div class="ui grid stackable">
                    <div class="eight wide column text-container">
                        <h3 data-aos="fade-down"  data-aos-duration="1000" data-aos-delay="200" class="marginnone">Gaming Blog</h3>
                        <nuxt-link to="/work/gaming" data-aos="fade-right" class="view-casestudy" data-aos-duration="1200" data-aos-delay="600">View Case Study</nuxt-link>
                    </div>
                    <div class="eight wide column img-container">
                        <picture>
                            <source srcset="@/assets/casestudies/main/gaming.webp" type="image/webp">
                            <img src="@/assets/casestudies/main/gaming.png" alt="a4 Tech Case Study"  data-aos="fade-up" data-aos-duration="800" data-aos-delay="800">
                        </picture>
                    </div>
                </div>
                <div class="ui two column grid stackable mobile-flip">
                    <div class="column img-container">
                        <picture>
                            <source srcset="@/assets/casestudies/main/embark.webp" type="image/webp">
                            <img src="@/assets/casestudies/main/embark.png" alt="a4 Tech Case Study"  data-aos="fade-up" data-aos-duration="800" data-aos-delay="800">
                        </picture>
                    </div>
                    <div class="column text-container">
                        <h3 data-aos="fade-down"  data-aos-duration="1000" data-aos-delay="200" class="marginnone">Embark</h3>
                        <nuxt-link to="/work/embark" data-aos="fade-left" class="view-casestudy" data-aos-duration="1200" data-aos-delay="600">View Case Study</nuxt-link>
                    </div>
                </div>
                <div class="ui grid stackable">
                    <div class="eight wide column text-container">
                        <h3 data-aos="fade-down"  data-aos-duration="1000" data-aos-delay="200" class="marginnone">Ketogenic Diet Blog</h3>
                        <nuxt-link to="/work/ruledme" data-aos="fade-right" class="view-casestudy" data-aos-duration="1200" data-aos-delay="600">View Case Study</nuxt-link>
                    </div>
                    <div class="eight wide column img-container">
                        <picture>
                            <source srcset="@/assets/casestudies/main/ruledme.webp" type="image/webp">
                            <img src="@/assets/casestudies/main/ruledme.png" alt="a4 Tech Case Study"  data-aos="fade-up" data-aos-duration="800" data-aos-delay="800">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <Footer />
</div>
</template>
<style scoped lang="scss">
    $gold: #DFD3C3;
    $lightgold: #AAA195;
    .view-casestudy{
        font-family: 'Inter', sans-serif;
        color:#e74c3c;
        font-size:12px;
        text-transform: uppercase;
        font-weight: 700;
        position: relative;
        &:before{
        content: " ";
        height: 2px;
        background:var(--red);
        width: 100%;
        display: block;
        left: 0px;
        bottom: 0px;
        position: absolute;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        }
        &:after{
        content: " ";
        height: 2px;
        background: #fff;
        width: 0%;
        display: block;
        left: 0px;
        bottom: 6px;
        position: absolute;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        }
        &:hover{
        color:#fff;
        &:before{
            width:0%;
        }
        &:after{
            width:100%;
        }
        }
    }
    .case-studies{
        background:#000;
        .hero{
            height:calc(100vh - 120px);
            h1{
                font-size:180px;
                color:$gold;
                font-family: 'DM Serif Display', serif;
                font-weight: normal;
                text-align: center;
                .portfolio{
                    display: block;
                    float: left;
                }
                .case{
                    display: block;
                    float: right;
                }
            }
            .line{
                height:1px;
                width: 750px;
                background:$gold;
                opacity:0.4;
                transform:rotate(-45deg) translate(0px, 300px);
            }
            .scrolldown{
                color:$gold;
                display: block;
                position: absolute;
                bottom:-120px;
                left:42%;

            }
        }
        .main-content{
            padding:120px 0px;
            .text-container{
                h3{
                    margin-top:120px;
                    color:$gold;
                    font-family: 'DM Serif Display', serif;
                    font-size:52px;
                }
                .marginnone{
                    margin-top:30px;
                }
                p{
                    font-family: 'Inter', sans-serif;
                    color:$lightgold;
                    margin-left:40px;
                }
                .view-casestudy{
                    display: inline-block;
                }
            }
            .img-container{
                img{
                    width: 100%;
                }
            }
        }
    }
    @media (max-width: 768px) and (min-width: 240px) {
        .case-studies{
            .hero{
                height:300px !important;
                .line{
                    display:none;
                }
                h1{
                    margin-top:90px;
                    font-size:52px;
                    .portfolio, .case{
                    }
                }
                .scrolldown{
                    display:none;
                }
            }
            .main-content{
                padding:20px 0px;
                .text-container{
                    h3{
                        margin-top:20px;
                        font-size:24px;
                    }
                }
            }
            .mobile-flip{
                display:flex;
                flex-wrap: wrap;
                flex-direction: row;
                .text-container{
                    order:1;
                }
                .img-container{
                    order:2;
                }
            }
        }
    }
</style>
