<template>
<div>
    <Header />
    <div class="case-studies cebupacific">
        <div class="hero">
            <div class="ui container">
                <div class="ui grid stackable">
                    <div class="ten wide column">
                        <div class="top-heading" data-aos-duration="1000" data-aos-delay="200" data-aos="fade-down" >Case Studies </div>
                        <h1 data-aos="fade-down"  data-aos-duration="1000" data-aos-delay="500">Re-inventing Online Dating</h1>
                        <p data-aos="fade-left"  data-aos-duration="1200" data-aos-delay="600">The stigma of online dating is gone, but it came with a lot of cons with it. We aim to fix all of that.</p>

                        <div class="scroll-down">SCROLL DOWN</div>
                    </div>
                    <div class="six wide column">
                        <img src="@/assets/casestudies/main/dating_bg.png" alt="" data-aos="fade-left"  data-aos-duration="1200" data-aos-delay="500">
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="ui container">
                <div class="ui grid stackable">
                    <div class="four wide column case-study-content">
                        <div class="sticky">
                            <h6>CLIENT</h6>
                            <ul>
                                <li>Katcher App</li>
                            </ul>
                            <h6>ROLE</h6>
                            <ul>
                                <li>CEO and Founder</li>
                                <li>Branding</li>
                                <li>User Interface Design</li>
                                <li>High Fidelity Designs</li>
                                <li>Front-end Development</li>
                            </ul>

                            <h6>TECHNOLOGIES</h6>
                            <ul>
                                <li>Adobe XD</li>
                                <li>Adobe Photoshop</li>
                                <li>Adobe Illustrator</li>
                            </ul>
                        </div>
                    </div>
                    <div class="twelve wide column case-study-images">
                        <h2>Connecting online dating to real life connections</h2>
                        <p>Katcher started as just a drinking app, and it has ballooned into something way too different. My co-founders and I realized that online dating app lacks real world connection, and the vetting process needed to find the right life partner. We aim to fix that.
                        </p>

                        <div class="images-container">
                            <img src="@/assets/casestudies/katcher/katcher_1.png" alt="" data-aos="fade-up"  data-aos-duration="1200">
                            <img src="@/assets/casestudies/katcher/katcher_2.png" alt="" data-aos="fade-up"  data-aos-duration="1200">
                            <img src="@/assets/casestudies/katcher/katcher_3.png" alt="" data-aos="fade-up"  data-aos-duration="1200">
                            <img src="@/assets/casestudies/katcher/katcher_4.png" alt="" data-aos="fade-up"  data-aos-duration="1200">
                            <img src="@/assets/casestudies/katcher/katcher_5.png" alt="" data-aos="fade-up"  data-aos-duration="1200">
                            <img src="@/assets/casestudies/katcher/katcher_6.png" alt="" data-aos="fade-up"  data-aos-duration="1200">
                            <img src="@/assets/casestudies/katcher/katcher_7.png" alt="" data-aos="fade-up"  data-aos-duration="1200">
                            <img src="@/assets/casestudies/katcher/katcher_home.png" alt="" data-aos="fade-up"  data-aos-duration="1200">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <Footer />
</div>
</template>
<style scoped lang="scss">
  $gold: #DFD3C3;
  $lightgold: #AAA195;
  .scroll-down{
      position: absolute;
      bottom:-90px;
      font-size:11px;
      &:after{
          content: " ";
          height:1px;
          width: 100px;
          background:$gold;
          left:90px;
          top:11px;
          position: absolute;
      }
  }
  .case-studies{
      background:#000;
      .top-heading{
        color:$lightgold;
        font-family: 'Inter', sans-serif;
      }
      .hero{
          height:calc(100vh - 120px);
          display: flex;
          align-content: center;
          justify-content: center;
          align-items: center;
          color:$gold;
          h1{
            font-family: 'DM Serif Display', serif;
            font-size:82px;
            line-height: 78px;
            color:$gold;
            margin-bottom:30px;
          }
          p{
              color:#fff;
              font-family: 'Inter', sans-serif;
              font-size:15px;
              line-height: 26px;
              margin-left:120px;
              color:$lightgold;
          }
      }
      .main-content{
        color:#fff;
        padding:120px 0px;
        .case-study-content{
            .sticky{
                position: -webkit-sticky;
                position: sticky;
                top: 20px;
            }
            h6{
                font-family: 'Inter', sans-serif;
                font-size:12px;
                letter-spacing: 3px;
                margin-bottom:10px;
                color:$gold;

            }
            ul{
                margin:0px;
                font-family: 'Inter', sans-serif;
                padding:0px;
                list-style: none;
                li{
                    color:$lightgold;
                    line-height: 24px;
                    font-size:11px;
                }
            }
        }
        .case-study-images{
            h2{
                font-family: 'DM Serif Display', serif;
                font-size:40px;
                color:$gold;
            }
            p{
                font-family: 'Inter', sans-serif;
                font-size:16px;
                color:$lightgold;
                line-height: 28px;
            }
            .images-container{
                img{
                    max-width: 100%;
                }
            }
        }
      }
  }
@media (max-width: 768px) and (min-width: 240px) {
            .mobile-flip{
                display:flex;
                flex-wrap: wrap;
                flex-direction: row;
                .text-container{
                    order:1;
                }
                .img-container{
                    order:2;
                }
            }
        .case-studies{
            .hero{
                height:80vh;
                .top-heading{
                    margin-top:120px;
                }
                h1{
                    font-size:62px;
                    line-height:52px;
                }
                p{
                    margin-left:0px !important;
                }
                img{
                    display:none;
                }
            }
            .main-content{
                padding:40px 0px;
                .ui.grid{
                    display:flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    .four.wide.column{
                        order:2;
                    }
                    .twelve.wide.column{
                        order:1;
                        h2{
                            font-size:32px;
                        }
                    }
                }
            }
        }
    }
</style>
