<template>
<div>
    <Header />
        <div class="blog">
            <div class="hero">
                <div class="ui container">
                    <div class="ui grid stackable">
                        <div class="ten wide column">
                            <picture>
                                <source srcset="@/assets/blogposts/concise_copy.webp" type="image/webp">
                                <img src="@/assets/blogposts/concise_copy.png" alt="Cebu Pacific Case Study"  data-aos="fade-up" data-aos-duration="800" data-aos-delay="800">
                            </picture>
                        </div>
                        <div class="six wide column">
                            <h1>Simple Tips for Better UX</h1>
                            <p>Go on, these are going to be great.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-content">
                <div class="ui container">
                    <div class="ui grid centered stackable">
                        <div class="ten wide column">
                            <div class="ui container single-content">
                                <img src="@/assets/blogposts/concise_copy.png" alt="">
                                <h3>Concise Copy Beats Verbose</h3>
                                <blockquote><p>Users want that information, fast. And you have to give it to them that way.</p></blockquote>
                                <p>This has been the rule of the Internet since the its conception, and still holds truth today.</p>
                                <p>Good UX is not just buttons that are well placed, and have good contrast, etc. etc. &nbsp;You also have to deal with textual content, and making good use of the limited real estate that you have in browsers especially in mobile&nbsp;devices.</p>
                                <p>&nbsp;</p>
                                <p>Here are 4 simple steps to writing good, and brief copy:</p>
                                <ol>
                                <li>Use active voice instead of passive.</li>
                                <li>Do not use meaningless words to pad your content, but instead use clear, and straight to the point language.</li>
                                <li>Get rid of repeated words.</li>
                                <li>Re-read your content, and find phrases that can be replaced by one word.</li>
                                </ol>
                                <img src="@/assets/blogposts/recommend_products.png" alt="">
                                <h3>Recommend Products Instead Of Showing Them Equally</h3>
                                <p><a href="https://en.wikipedia.org/wiki/Analysis_paralysis">Decision Paralysis&nbsp;</a>&nbsp;is a problem a lot of new users of your application encounter when they are in your Product page. “Which plan suits me best?”, “Do I need these features?”, “Are these enough?”. As the decision time increases, the user experience suffers.</p>
                                <p>That’s why our job as UX designers are to lessen these hindrances, or eliminate them altogether. A little nudge to the right direction is a small simple step, but creates a big difference to your conversion.</p>
                                <img src="@/assets/blogposts/template.png" alt="">
                                <h3>Fewer Form Fields, And Why Less Is More.</h3>
                                <p>When creating landing pages, be it a Sign up page for your new web application, or a Landing page to provide leads to your Sales funnel. Naturally, business owners would want to ask a lot of relevant (or not so relevant) information from visitors.
                                    <br><br>
                                This is the opposite case for users. You only have a few seconds of their attention to make them do what you want. Those precious seconds cannot be used by filling out 10 text fields and 2 textareas.     </p>
                                <img src="@/assets/blogposts/ux-journey-Form-fields-many.png" alt="">
                                <p>That’s why my job as a UI/UX Designer, is to consult with business owners of what their goals are, and find the best way to go about reaching that goal. Without annoying the user. Instead of asking everything in one go, you can split it up, and move them to a separate page</p>
                                <img src="@/assets/blogposts/fewer-fields-ux-journey.jpg.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <Footer />
</div>
</template>
<style scoped lang="scss">
    $gold: #DFD3C3;
    $lightgold: #AAA195;
    .blog{
        background:#000;
        .hero{
            padding-top:40px;
            img{
                width: 100%;
                border-radius:12px;
            }
            h1{
                margin-top:60px;
                font-family: 'DM Serif Display', serif;
                font-size:42px;
                line-height: 52px;
                color:$gold;
                margin-bottom:30px;
            }
            p{
                font-size:16px;
                color:$lightgold;
                font-family: 'Inter', sans-serif;
            }
        }
        .main-content{
            margin-top:120px;
            blockquote{
                border-left:1px solid $gold;
                margin-left:0px;
                padding-left:20px;
            }
            img{
                width: 100%;
            }
            h3{
                color:$lightgold;
                font-family: 'DM Serif Display', serif;
                font-size:32px;
            }
            h4{
                color:$lightgold;
                font-size:28px;
                font-family: 'DM Serif Display', serif;
            }
            a{
                color:$gold;
                border-bottom:1px solid $gold;
            }
            p, ul li, ol li{
                font-family: 'Inter', sans-serif;
                color:$lightgold;
                font-size:16px;
            }
            ul li, ol li{
                padding:0px;
                margin-bottom:20px;
            }
        }
    }
</style>
