<template>
<div>
    <Header />
    <div class="blog">
        <div class="hero">
            <div class="ui container">
                <div class="ui grid stackable">
                    <div class="ten wide column">
                        <img src="@/assets/blogposts/currency_exchange.jpeg" alt="">
                    </div>
                    <div class="six wide column">
                        <h1>Crypto Currency Exchange Design</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati minima odio quis. Eos porro voluptatum soluta architecto, enim animi mollitia itaque veniam ratione tempore quis saepe excepturi totam reprehenderit molestiae!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="ui container">
                <div class="ui grid">
                    <div class="sixteen wide colum">
                        <img src="@/assets/blogposts/btcsomething_home_post.jpeg" alt="">
                        <img src="@/assets/blogposts/about.jpeg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <Footer />
</div>
</template>
<style scoped lang="scss">
    $gold: #DFD3C3;
    $lightgold: #AAA195;
    .blog{
        background:#000;
        .hero{
            padding-top:40px;
            img{
                width: 100%;
                border-radius:12px;
            }
            h1{
                margin-top:60px;
                font-family: 'DM Serif Display', serif;
                font-size:42px;
                line-height: 52px;
                color:$gold;
                margin-bottom:30px;
            }
            p{
                font-size:16px;
                color:$lightgold;
                font-family: 'Inter', sans-serif;
            }
        }
        .main-content{
            margin-top:120px;
            img{
                width: 100%;
            }
        }
    }
</style>
