<template>
<div>
    <Header />
        <div class="blog">
            <div class="hero">
                <div class="ui container">
                    <div class="ui grid stackable">
                        <div class="ten wide column">
                            <picture>
                                <source srcset="@/assets/blogposts/NFT.webp" type="image/webp">
                                <img src="@/assets/blogposts/NFT.png" alt="Cebu Pacific Case Study"  data-aos="fade-up" data-aos-duration="800" data-aos-delay="800">
                            </picture>
                        </div>
                        <div class="six wide column">
                            <h1>How to create NFT's from scratch.</h1>
                            <p>The idea is simple, and the execution is easier.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-content">
                <div class="ui container">
                    <div class="ui grid centered stackable">
                        <div class="ten wide column">
                            <div class="ui container single-content">
                                <img src="@/assets/blogposts/NFT_1.png" alt="">
                                <h3>If you want to see</h3>
                                <p>NFT's are non-fungible tokens. They are anything digital that cannot be replaced for something else. A one of a kind image, however, is non-fungible. If you are an artist, you can use platforms like opensea.io to sell your digital asset for ETH. </p>

                                <h3>Making FatNormie</h3>
                                <p>When I started working on FarNormie, I don't expect to make a million dollars out of this experiment, but since I mainly work on decentralized platforms for their UI/UX. It will make me better at my job if I know the underlying product that these platforms handle.</p>

                                <h3>What is a FatNormie</h3>
                                <p>FatNormie is a collectible NFT that I created for this experiment. It has 6 traits (hair/cap, eyes, mouth, neck, head and background). For these traits, I created multiple versions so that we will have a big number of avatars to "sell" on opensea.io</p>

                                <img src="@/assets/blogposts/NFT_2.png" alt="">
                                <h3>What software did you use?</h3>
                                <p>You can honestly use whatever software you want. Photoshop, Illustrator, even 3D software is being used by other people. You just have to make sure that each trait will stack on top of each other so that when they are combined, they create a cohesive image. In our case, the FatNormie avatar. </p>

                                <p>For Fatnormie, I used Adobe Illustrator so that I can export each trait as an SVG if I needed to. </p>

                                <img src="@/assets/blogposts/NFT_4.png" alt="">
                                <p>After these traits are done being designed, I used this npm package https://github.com/NotLuksus/nft-art-generator to combine the traits into an avatar. The basic idea is that you will be combining these traits by random and create multiple versions of an avatar with different traits. </p>

                                <img src="@/assets/blogposts/NFT_3.png" alt="">
                                <p>If you want to see the full collection, you can check out the full collection here at <a href="https://opensea.io/collection/fatnormie">opensea.io</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <Footer />
</div>
</template>
<style scoped lang="scss">
    $gold: #DFD3C3;
    $lightgold: #AAA195;
    .blog{
        background:#000;
        .hero{
            padding-top:40px;
            img{
                width: 100%;
                border-radius:12px;
            }
            h1{
                margin-top:60px;
                font-family: 'DM Serif Display', serif;
                font-size:42px;
                line-height: 52px;
                color:$gold;
                margin-bottom:30px;
            }
            p{
                font-size:16px;
                font-family: 'Inter', sans-serif;
                color:$lightgold;
            }
        }
        .main-content{
            margin-top:120px;
            blockquote{
                border-left:1px solid $gold;
                margin-left:0px;
                padding-left:20px;
            }
            img{
                width: 100%;
            }
            h3{
                color:$lightgold;
                font-family: 'DM Serif Display', serif;
                font-size:32px;
            }
            h4{
                color:$lightgold;
                font-size:28px;
                font-family: 'DM Serif Display', serif;
            }
            a{
                color:$gold;
                border-bottom:1px solid $gold;
            }
            p, ul li, ol li{
                font-family: 'Inter', sans-serif;
                color:$lightgold;
                font-size:16px;
            }
            ul li, ol li{
                padding:0px;
                margin-bottom:20px;
            }
        }
    }
</style>
