<template>
<div>
    <Header />
    <div class="blog">
        <div class="hero" :style="{ backgroundImage: 'url(' + require('@/assets/blogposts/blog_bg.png') + ')', backgroundPosition: 'fixedasdasd' }">
            <h1>
                <div data-aos="fade-left"  data-aos-duration="1000" data-aos-delay="200">Articles</div>
                <div data-aos="fade-right"  data-aos-duration="2000" data-aos-delay="200">& Blog.</div>
            </h1>
        </div>
        <div class="main-content">
            <div class="ui container">
                <div class="ui two column grid stackable">
                    <div class="column">
                        <nuxt-link tag="div" to="/blog/starting-youtube"  class="blog_post"   data-aos="fade-up" data-aos-duration="800">
                            <picture>
                                <source srcset="@/assets/blogposts/starting_youtube.webp" type="image/webp">
                                <img src="@/assets/blogposts/starting_youtube.png" alt="a4 Tech Case Study">
                            </picture>
                            <h4>Starting a Youtube Channel after four years of dreaming about it.</h4>
                            <p>It's been years of wanting, and self doubt. Now, its time.</p>
                        </nuxt-link>
                    </div>
                    <div class="column">
                        <nuxt-link tag="div" to="/blog/palawan"  class="blog_post" data-aos="fade-up" data-aos-duration="800">
                            <picture>
                                <source srcset="@/assets/blogposts/palawan.webp" type="image/webp">
                                <img src="@/assets/blogposts/palawan.jpeg" alt="a4 Tech Case Study">
                            </picture>
                            <h4>Spontaneous Workation to Palawan.</h4>
                            <p>Gone in 4 hours; back in 5 days</p>
                        </nuxt-link>
                    </div>
                    <div class="column">
                        <nuxt-link tag="div" to="/blog/photoshop-xd"  class="blog_post" data-aos="fade-up" data-aos-duration="800">
                            <picture>
                                <source srcset="@/assets/blogposts/photoshop_vs_adobexd.webp" type="image/webp">
                                <img src="@/assets/blogposts/photoshop_vs_adobexd.jpeg" alt="a4 Tech Case Study">
                            </picture>
                             <h4>From Adobe Photoshop to Adobe XD</h4>
                            <p>From bitmap to Vector based.</p>
                        </nuxt-link>
                    </div>
                   <div class="column">
                        <nuxt-link tag="div" to="/blog/sketch-meetup" class="blog_post" data-aos="fade-up" data-aos-duration="800">
                            <picture>
                                <source srcset="@/assets/blogposts/sketch_meetup.webp" type="image/webp">
                                <img src="@/assets/blogposts/sketch_meetup.jpeg" alt="a4 Tech Case Study">
                            </picture>
                            <h4>Sketch Meetup, And How To Talk To Clients.</h4>
                            <p>Had the opportunity to talk to other upcoming Freelance designers.</p>
                        </nuxt-link>
                    </div>
                    <div class="column">
                        <nuxt-link tag="div" to="/blog/crypto-currency"  class="blog_post" data-aos="fade-up" data-aos-duration="800">
                            <picture>
                                <source srcset="@/assets/blogposts/currency_exchange.webp" type="image/webp">
                                <img src="@/assets/blogposts/currency_exchange.jpeg" alt="a4 Tech Case Study">
                            </picture>
                            <h4>Crypto Currency Exchange Design</h4>
                            <p>From bitmap to Vector based.</p>
                        </nuxt-link>
                    </div>
                    <div class="column">
                        <nuxt-link tag="div" to="/blog/ux-practices" class="blog_post" data-aos="fade-up" data-aos-duration="800">
                            <picture>
                                <source srcset="@/assets/blogposts/ux_practices.webp" type="image/webp">
                                <img src="@/assets/blogposts/ux_practices.jpeg" alt="a4 Tech Case Study">
                            </picture>
                            <h4>UX Practices For An Ecommerce Shop</h4>
                            <p>Designing an E-Commerce shop, starting it right.</p>
                        </nuxt-link>
                    </div>
                    <div class="column">
                        <nuxt-link tag="div" to="/blog/concise-copy" class="blog_post" data-aos="fade-up" data-aos-duration="800">
                            <picture>
                                <source srcset="@/assets/blogposts/concise_copy.webp" type="image/webp">
                                <img src="@/assets/blogposts/concise_copy.png" alt="a4 Tech Case Study">
                            </picture>
                            <h4>Simple Tips for Better UX</h4>
                            <p>Go on, these are going to be great.</p>
                        </nuxt-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <Footer />
</div>
</template>
<style scoped lang="scss">
    $gold: #DFD3C3;
    $lightgold: #AAA195;
    .blog{
        background:#000;
        min-height:1400px;
        .hero{
            padding-top:40px;
            position: relative;
            height:calc(100vh - 90px);
            background-repeat:no-repeat;
            background-position: bottom right;
            display: flex;
            img{
                width: 100%;
                border-radius:12px;
            }
            h1{
                font-family: 'Noto Serif SC', serif;
                font-family: 'DM Serif Display', serif;
                text-align: left;
                font-size:160px;
                font-weight: normal;
                margin-right:40px;
                line-height: 160px;
                color:$lightgold;
                padding-left:30px;
            }
            p{
                font-size:16px;
                color:$lightgold;
            }
        }
        .main-content{
            .blog_post{
                cursor: pointer;
                img{
                    width: 100%;
                    border-radius:12px;
                }
                h4{
                    font-family: 'DM Serif Display', serif;
                    color:$gold;
                    font-size:24px;
                    font-weight: normal;
                }
                p{
                    font-size:16px;
                    font-family: 'Inter', sans-serif;
                    color:$lightgold;
                }
            }
        }
    }
@media (max-width: 768px) and (min-width: 240px) {
        .blog{
            .hero{
                height:450px;
                background-size:cover;
                h1{
                    margin-top:40px;
                    font-size:52px;
                    line-height:42px;
                }
            }
        }
    }
</style>
