<template>
    <div>
        <Header />
        <div class="blog">
            <div class="hero">
                <div class="ui container">
                    <div class="ui grid stackable">
                        <div class="ten wide column">
                            <picture>
                            <source srcset="@/assets/blogposts/palawan.webp" type="image/webp">
                            <img src="@/assets/blogposts/palawan.jpeg" alt="Cebu Pacific Case Study">
                            </picture>
                        </div>
                        <div class="six wide column">
                            <h1>Spontaneous Workation to Palawan.</h1>
                            <p>Gone in 4 hours; back in 5 days</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-content">
                <div class="ui container">
                    <div class="ui grid centered stackable">
                        <div class="ten wide column">
                                <p>It’s Monday, and I was just starting my usual Monday routine. Went to the gym, bought groceries and some baking stuff for the whole week, and fed the dogs too. All in all, a productive start of the weekly grind.</p>
                                <p>Got my usual cup of joe, and on to sending the plethora of emails to my clients that I desperately needed to make. And just like every Freelancer, you end up looking at random .s on the internet after you finish this morning ritual.</p>
                                <p>I stumbled upon a random picture in imgur of Palawan. A collection of islands in the middle of my country, the Philippines. It’s famous for it’s picturesque islands, and dusty white beaches.</p>
                                <p>This was 10:25am, and by 10:55am, I had a round trip ticket to Puerto Princesa, Palawan at 2:25PM.</p>
                                <p>Packed a couple pairs of clothes, and my trusty Macbook, and off I go.</p>
                                <p>I didn’t have any plans whatsoever on what to do when I got here. No hotel reservations, no tours, and no idea how to go about the city. Fortunately though, all knowing Google is there, and travel blogs by other nomads are a big help too.</p>
                                <p>I booked the famous Underground Cave, at sabang Palawan for Tuesday, and a boat ride tour of the islands on Wednesday. The sights we’re just plainly amazing. The local government did a wonderful job of preserving the local fauna and flora, and the tours went without a hitch.</p>
                                <img src="@/assets/blogposts/2016-11-15-04.33.46-1-min.webp" alt="">
                                <img src="@/assets/blogposts/2016-11-15-04.29.06-1-min.webp" alt="">
                                <img src="@/assets/blogposts/2016-11-15-04.29.01-1-min.webp" alt="">
                                <img src="@/assets/blogposts/2016-11-15-04.29.00-1-min.webp" alt="">
                                <img src="@/assets/blogposts/2016-11-15-04.06.57-1-min.webp" alt="">
                                <img src="@/assets/blogposts/2016-11-16-12.50.41-1-min.webp" alt="">
                                <p>A workation is not a workation if all you do is sight see, right? That’s why I do my work early in the morning before the tours, and when I get back at night. Beside the pool and on my laptop, with either a beer or coffee in hand. The hotel staff probably thought that I was this very lonely guy, since I was all alone for the whole 4 days while I was here.</p>
                                <img src="@/assets/blogposts/2016-11-14-08.32.28-1-min.webp" alt="">
                                <p>Here I am, Thursday morning in the hotel lobby. Having the most average coffee, and driest toast in the whole island of Palawan, while writing this piece. Waiting for my flight at 4:10pm later today.</p>
                                <img src="@/assets/blogposts/2016-12-16-12.46.36-1-min.webp" alt="">
                                <p>I guess my take away in all of this is: Working from home gives you the opportunity, and the leeway to take the time off that you desperately need. Without giving a two months heads up to your boss.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <Footer />
    </div>
</template>
<style scoped lang="scss">
    $gold: #DFD3C3;
    $lightgold: #AAA195;
    .blog{
        background:#000;
        .hero{
            padding-top:40px;
            img{
                width: 100%;
                border-radius:12px;
            }
            h1{
                margin-top:60px;
                font-family: 'DM Serif Display', serif;
                font-size:42px;
                line-height: 52px;
                color:$gold;
                margin-bottom:30px;
            }
            p{
                font-size:16px;
                color:$lightgold;
                font-family: 'Inter', sans-serif;
            }
        }
        .main-content{
            margin-top:120px;
            img{
                width: 100%;
            }
            h3{
                color:$lightgold;
                font-family: 'DM Serif Display', serif;
                font-size:32px;
            }
            h4{
                color:$lightgold;
                font-size:28px;
                font-family: 'DM Serif Display', serif;
            }
            a{
                color:$gold;
                border-bottom:1px solid $gold;
            }
            p, ul li, ol li{
                font-family: 'Inter', sans-serif;
                color:$lightgold;
                font-size:16px;
            }
            ul li, ol li{
                padding:0px;
                margin-bottom:20px;
            }
        }
    }
</style>
