<template>
<div>
    <Header />
    <div class="blog">
        <div class="hero">
            <div class="ui container">
                <div class="ui grid stackable">
                    <div class="ten wide column">
                        <picture>
                        <source srcset="@/assets/blogposts/photoshop_vs_adobexd.webp" type="image/webp">
                        <img src="@/assets/blogposts/photoshop_vs_adobexd.jpeg" alt="Cebu Pacific Case Study">
                        </picture>
                    </div>
                    <div class="six wide column">
                        <h1>Why I Transferred To Adobe XD From Photoshop. And Why You Should Too.</h1>
                        <p>For the past 6 years as a designer, and developer. I have always used Adobe Photoshop  when designing for fun, or for my clients.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="ui container">
                <div class="ui grid centered stackable">
                    <div class="ten wide column">
                            <p>For the past 6 years as a designer, and developer. I have always used Adobe Photoshop&nbsp; when designing for fun, or for my clients. I have gotten very used to it, and the workflow that I have developed over the years have made my relationship with the software a very closed one.</p>
                            <p>A month ago, I was hired by a design agency, and the workflow that they had was with the use of Adobe XD. I have heard about it a couple of times, but I haven’t gotten around to checking it out.</p>
                            <p>But once I started using it, I cannot imagine going back to Photoshop now.</p>
                            <p>Here are 10 reasons why you as a UI designer should use Adobe XD.</p>
                            <h3>1. Adobe Ecosystem</h3>
                            <p>Due to the nature of XD being an Adobe product, integration between Softwares has been well documented, smooth sailing. Shortcut keys in one software would be the same in XD, and vice versa. Obviously, there might be small differences, but the overall idea of it is the same. Plus having Adobe Bridge as your asset management too is priceless.</p>
                            <h3>2. Artboards</h3>
                            <p>When I was still using Photoshop, each screen would its own file, and once you reach a certain number of pages (10+), it starts to be a headache tracking all of those files, and going through each file if you need to edit something. Plus, having all the screens visible in one area gives you a bigger picture of the whole application that you are designing.</p>
                            <h3>3. Repeat Grid</h3>
                            <p>I didn’t know that I needed this feature until I saw it, and I was in love.</p>
                            <p>Gone were the days where you create a group of layers in Photoshop, copy the group, and place move each group manually to where you like it. With Repeat Grid, you just have to convert that group of element to a Repeat instance, and drag to repeat it. Hard to visualize? Here’s how it works:</p>
                            <p><iframe src="https://www.youtube.com/embed/42VCB42TKp4?rel=0&amp;controls=0&amp;showinfo=0" width="100%" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
                            <h3>4. Mobile Preview</h3>
                            <p>Adobe launched Adobe XD iOS and Adroid apps, so that you can live preview your designs in your mobile devices. IN. REAL. TIME.</p>
                            <p>This means, that a change in color in your XD file, will automagically, show up in the preview in your phone. This includes transition animation, etc. Plus it is also lightning-fast. You only need to connect your mobile device through USB to your computer, and you should be good to go.</p>
                            <h3>5. Built-in Prototyping.</h3>
                            <p>Be it low-fidelity Prototyping, and just making sure where everything goes, or creating an actual working “app” of your finished designs. Adobe XD has it. You can easily set transitions to pages when you click on a button, etc.</p>
                            <p>Another thing would be the live preview. Once your prototype is connected to your mobile device, and you have changes to your prototype. It immediately previews the changes on the device.</p>
                            <p>&nbsp;</p>
                            <h4>The future of Adobe XD.</h4>
                            <p>Adobe XD is still a relatively new software, but has definitely sped up my UX process. Wireframing, and creating high-fidelity designs has never been easier, and some things that I do in Photoshop are easily done in XD, or better!<br>
                            I’m definitely looking forward to more features and updates from the Adobe XD team.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <Footer />
</div>
</template>
<style scoped lang="scss">
    $gold: #DFD3C3;
    $lightgold: #AAA195;
    .blog{
        background:#000;
        .hero{
            padding-top:40px;
            img{
                width: 100%;
                border-radius:12px;
            }
            h1{
                margin-top:60px;
                font-family: 'DM Serif Display', serif;
                font-size:42px;
                line-height: 52px;
                color:$gold;
                margin-bottom:30px;
            }
            p{
                font-size:16px;
                color:$lightgold;
                font-family: 'Inter', sans-serif;
            }
        }
        .main-content{
            margin-top:120px;
            img{
                width: 100%;
            }
            h3{
                color:$lightgold;
                font-family: 'DM Serif Display', serif;
                font-size:32px;
            }
            h4{
                color:$lightgold;
                font-size:28px;
                font-family: 'DM Serif Display', serif;
            }
            a{
                color:$gold;
                border-bottom:1px solid $gold;
            }
            p, ul li{
                font-family: 'Inter', sans-serif;
                color:$lightgold;
                font-size:16px;
            }
            ul li{
                margin-bottom:20px;
            }
        }
    }
</style>
