<template>
<div>
    <Header />
    <div class="blog">
        <div class="hero">
            <div class="ui container">
                <div class="ui grid stackable">
                    <div class="ten wide column">
                        <img src="@/assets/blogposts/sketch_meetup.jpeg" alt="">
                    </div>
                    <div class="six wide column">
                        <h1>Sketch Meetup, And How To Talk To Clients.</h1>
                        <p>So, I recently got the opportunity to talk to local designers, developers and other freelancers in my City. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="ui container">
                <div class="ui grid centered stackable">
                    <div class="ten wide column">
                            <p>So, I recently got the opportunity to talk to local designers, developers and other freelancers in my City. After I posted my portfolio on a local Facebook group. I was approached by one of the admins to be part of the speakers for the event. I haven’t tried speaking in front of an audience, but since I told myself that 2018 will be the year that I will try to do new things. I obliged.</p>
                        <p>&nbsp;</p>
                        <p>One of my talking points is how to talk to clients, and how it has helped me when freelancing. Here are some tips that has helped me as a freelancer. Made my life easier, and improved, and fostered my relationships with my clients, and how it helped me improve my craft.</p>
                        <h4>Talking with authority</h4>
                        <p>You are the professional. You are the one getting paid. You should have the confidence that you can deliver the product that your client has paid for. Thinking that you are the best designer in the world (obviously you’re not, and no one is) will convince your client that you are worth it. Obviously you have to back this up with the product that you are delivering. That brings me to my second point:</p>
                        <h4>Always work on your craft</h4>
                        <p>I try my best to have my workload be full every week, but in times that I have some downtime. I improve my design skills. Read up on best practices, and follow what other designers are doing, and maybe steal their ideas. There are a handful of websites where you can see other designers work, and get inspiration from:</p>
                        <ol>
                        <li><a href="http://dribbble.com/">http://dribbble.com/</a></li>
                        <li><a href="https://www.behance.net/">https://www.behance.net/</a></li>
                        <li><a href="https://www.awwwards.com/">https://www.awwwards.com/</a></li>
                        <li><a href="http://alistapart.com/">http://alistapart.com/</a></li>
                        </ol>
                        <h4>Good designers copy, Great designers steal.</h4>
                        <p>I usually work on small, to medium freelance projects, and there is a caveat with working on small sized projects.&nbsp;<strong>You have no access to big data, and budget.&nbsp;</strong>You cannot do very in-depth UX studies because the deadline, or sometimes the budget just isn’t there. One way to fix this is looking at BIG websites and following them. When you think about it, they have psychologists, UX professionals, and access to analytics that help them come up with an interface that works best.</p>
                        <p>I recently worked on redesigning a dating website, and the goal was to improve search filtering for users. The deadline was fast approaching, and we didn’t have the budget to do deep UX research.&nbsp; So I went to a rivaling website (okcupid), and followed how they did their search filters.</p>
                        <p>This method fixes a couple of things:</p>
                        <ol>
                        <li>You now have UX that a big company, with big pockets has done research for</li>
                        <li>More time to work on other stuff that you, and your client needs to get done.</li>
                        <li>Your life is now easier.</li>
                        </ol>
                        <p>&nbsp;</p>
                        <p>Obviously you still have to add your personal flair to the interface to make it “your own”, but now you have a working product.</p>
                        <h4>Don’t be afraid to say NO.</h4>
                        <p>There are times, where I have to work on something that I have no idea where to start. It might be a different industry, a different tech stack, or the aesthetic that your client wants is not your forte. Be honest to your self, and to your client that you have a somewhat limited experience in that field <strong>BUT</strong>, you will do more research on it, and will do your best to learn, and be ready for the project that you will be working on. This will convey to your client that you are willing to set aside time to study the product that you are working on.</p>
                        <h4>You are not an employee</h4>
                        <p>A lot of freelancers think that since the client is paying them. That they are now suddenly an employee. Personally, I think this is wrong. A contractor, and a client is a partnership. No one is above each other, since at the end of the day. your goal is the same. You have to set boundaries that you have your working hours, and that you cannot answer right away, etc. Or that feature that he wants you to work on pro-bono should be paid as well.</p>
                        <h4>Prevent scope creep, and requirements should be written in stone</h4>
                        <p>Before I work on a project, I always make it a point to have a list of items that needs to be done, a certain deadline that they want to reach, and the number of revisions that I have to do. This will save you a lot of time (money), and headache in the long run. You have to set expectations at every start of the project. This will make your client happy, and you at the same time.</p>
                        <h4>Ask for a downpayment</h4>
                        <p>This is one of the best tips that you can use as a designer. BEFORE I start working on a project, I always ask for a 50% initial down payment, and the remaining 50% on completion of the project. This serves multiple things.</p>
                        <ol>
                        <li>You are already for before you start working $$$$</li>
                        <li>Clients will respect you more, and value your time more since they already paid for it. They are more invested to the process. Its a commitment for them. You are not just an email address that they are talking to. Cancelling the project would result in a loss of that money</li>
                        <li>If the project is big enough, and you need more people to work on it. It can cover subcontracted help.</li>
                        <li>Deposits minimize the chance of non-payment. Basically that. For example, you have already wasted 40 hours a week for 3 weeks on a project, and at the end of the day, the client doesn’t want to pay. You’re shit out of luck since you are in your city, and he is halfway around the world.</li>
                        </ol>
                        <h4>Conversational English</h4>
                        <p>Just like the software that we are using. Be it Sketch, Photoshop, Adobe XD, or whatever. That’s all useless if you cannot talk to your client. Being able to converse in their language is a big part of them trusting you, and conveying to them the confidence, the idea, and the process that you are about to do.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
<style scoped lang="scss">
    $gold: #DFD3C3;
    $lightgold: #AAA195;
    .blog{
        background:#000;
        .hero{
            padding-top:40px;
            img{
                width: 100%;
                border-radius:12px;
            }
            h1{
                margin-top:60px;
                font-family: 'DM Serif Display', serif;
                font-size:42px;
                line-height: 52px;
                color:$gold;
                margin-bottom:30px;
            }
            p{
                font-size:16px;
                color:$lightgold;
                font-family: 'Inter', sans-serif;
            }
        }
        .main-content{
            margin-top:120px;
            img{
                width: 100%;
            }
            h3{
                color:$lightgold;
                font-family: 'DM Serif Display', serif;
                font-size:32px;
            }
            h4{
                color:$lightgold;
                font-size:28px;
                font-family: 'DM Serif Display', serif;
            }
            a{
                color:$gold;
                border-bottom:1px solid $gold;
            }
            p, ul li, ol li{
                font-family: 'Inter', sans-serif;
                color:$lightgold;
                font-size:16px;
            }
            ul li, ol li{
                padding:0px;
                margin-bottom:20px;
            }
        }
    }
</style>
