<template>
<!-- eslint-disable max-len -->
    <div class="blog">
        <div class="hero">
            <div class="ui container">
                <div class="ui grid stackable">
                    <div class="ten wide column">
                        <img src="@/assets/blogposts/youtube_7.png" alt="">
                    </div>
                    <div class="six wide column">
                        <h1>Starting a Youtube Channel after four years of dreaming about it.</h1>
                        <p>It's been years of wanting, and self doubt. Now, its time.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="ui container">
                <div class="ui grid centered stackable">
                    <div class="ten wide column">
                         <div class="ui container single-content">
                            <p>So for the better part of 4 years, I have been wanting to create a Youtube channel. Designing and developing websites have always been my passion, and everyday I love it even more.</p>
                            <p>I try to find new design aesthetics to do. New industries to work for, and &nbsp;interesting clients to make proud of.</p>
                            <p>But there has always been this thing at the back of my mind that has been eating at me. On my free time, I watch a lot of Youtube videos, and I am always amazed about how content creators make their videos, how they speak, and how they share something that they are passionate about to thousands of people around the world.</p>
                            <p>I wanted to do that. If they can do it, why can&apos;t I? I told my self.</p>
                            <p>4 years ago I bought a Sony A7s II camera, a Sigma 35mm lens, and a simple microphone to give Youtube a try. I tried taking a couple of videos of myself, but It felt very awkward seeing myself in video, more-so when I tried talking in front of it.</p>
                            <p>I didn&apos;t know how to articulate why I love UI/UX Design and Web Development. So after a couple of weeks. I stopped. I just used the camera for taking pictures of food and portraits, but aside from that, I wasn&apos;t able to do the thing that I set out to do, and the disappointment has always been there.</p>
                            <img src="@/assets/blogposts/youtube_1.jpeg" alt="">
                            <small>Lockdown started on March 2020 until today September 2021.</small>
                            <p>Fast forward to year 2020-2021. Covid is everywhere and my city is on lockdown. &nbsp;I had more free time on my hands because I couldn&apos;t get out of the house, so I just spent my time doing client work and a lot of Youtube. Then I remembered, I still have a great camera just lying there collecting dust, and this burning passion that I tried my best to quash out of fear of putting yourself out there.</p>
                            <p>So I decided, I am going to give Youtube another go.</p>
                            <blockquote><p>I told myself, if this is not the time I am going to do it, then that time will never come. Ever.</p></blockquote>
                            <p>I recently upgraded my workstation PC because I wanted to venture out to 3d architectural visualization because Unreal Engine 5 just came out. The extra compute power that I now have, I can use for editing videos.</p>
                            <p>So then I bought a couple of new gear to suit this old-new venture.</p>
                            <p>I got 2 Elgato Key lights because it is small enough to fit my office, but still output great amounts of light.</p>
                            <img src="@/assets/blogposts/youtube_2.jpeg" alt="">
                            <p>I painted my office from white to gray so that it will be easier to color grade, and so that my videos will have that &quot;youtube look&quot; that people always associate with great content creators.</p>
                            <img src="@/assets/blogposts/youtube_3.jpeg" alt="">
                            <p>I &nbsp;also bought a new camera, this time the newly launched Sony a7s III with a Sigma 50mm Art Lens.</p>
                            <img src="@/assets/blogposts/youtube_4.jpeg" alt="">
                            <p>I also purchased a Zhiyun Crane 2S Gimbal since I thought that I needed that for the smooth b-roll videos that other creators have in their videos.</p>
                            <p>I don&apos;t know if all of these expensive purchases will be worth it in the future; but if I wanna pursue this dream that I have always wanted for myself. Then I am going to do it right. Plus the idea of wasting that amount of money for useless gear AGAIN will haunt me until I grow old so thats good motivation too.</p>
                            <img src="@/assets/blogposts/youtube_5.png" alt="">
                            <small>how the office looked like after it was painted and with the lights added</small>
                            <p>I set up all of my lights, camera placement, and installed the needed software.</p>
                            <p>Then I realized, I do not know a single thing about video editing, color grading, sound mixing, and other accompanying skills that a content creator should have. Small roadblock. So I went back to where I always go back to when I do not know how things work. Youtube. I consumed an inordinate amount of videos about how to color grade, edit videos, add graphics and much more.</p>
                            <p>I am far from pro with doing all of those above, but after 2 weeks of trial and error. Taking a video and using tutorials to learn. I think my video editing skills are now passable as an amateur.</p>
                            <p>I now have the gear, the &quot;editing know-how&quot;. What&apos;s next?</p>
                            <p>I am not a native English speaker, but I can speak English fluently when I have a conversation with someone. <em>This conversational english does not translate to talking to a camera. <strong>Trust me.</strong></em> I get cotton mouth after 3 seconds of speech. I forget the script the talking point that I just wrote 5 seconds ago. My eyes even look weird when I talk!</p>
                            <blockquote><p>Small roadlbock. But I still soldiered on.</p></blockquote>
                            <img src="@/assets/blogposts/youtube_6.png" alt="">
                            <small>This is how the website looks like right now.</small>
                            <p>So I thought of a topic that I think will be interesting: how bad <a href="http://bir.gov.ph">bir.gov.ph</a> looks like as a government website. So I wrote a script again, and took videos of myself trying my best to speak in front of the camera without looking like a fool. After I edited that video, I realized that I did look like a fool, and scrapped it.</p>
                            <p>Then I took another video, edited it, saw that it was better than the first one, but still not the quality that I am proud of. Scrapped that too.</p>
                            <p>For the third time, I composed myself, didn&apos;t rush things, and just tried my best to pretend that the camera is a person that I am talking to. They say third times a charm, and this time around. The video was somewhat passable to my standards. It&apos;s not the best, but since I&apos;ve redone the video so many times now that I just wanted something out there.</p>
                            <p>I published my first video, and even though it didn&apos;t get a lot of views than I hoped for. I am still happy and proud. I am proud that I finally have something on <a href="http://youtube.com">youtube.com</a> aside from client videos that they needed me to upload to embed on their website (I know, I know, I should have used their own channels)</p>
                            <p>I am proud that after 4 years of dreaming that dream. I am now on that first step of finally achieving that goal. I do not know what this new venture brings to my future, but I am happy to be here.</p>
                            <img src="@/assets/blogposts/youtube_7.png" alt="">
                            <small>Me on my first video</small>
                            <p>I am now excited with making videos everyday. Thinking of new things that I can try. Looking or ways to make the content that I make interesting and informative. Just like I was so passionate about web design and programming 10 years ago. Making videos is now part of me too.</p>
                            <p>Web Design and Programming is still my first love, but making content is now my passion too.</p>
                            <p>Anyway, no one will probably read this blog post the same way no one will watch my videos. But its good to articulate stuff thats in your head. Writing really is good for the soul.</p>
                            <p>P.S.</p>
                            <p>I still suck at at talking in front of the camera, and I still get cotton mouth <strong>all the time,</strong> but every time I do it. I can feel like there are minuscule improvements. And those things add up.</p>
                            <p>Heres the my first video: </p>
                            <iframe width="100%" height="375" src="https://www.youtube.com/embed/ukCZgVzdskc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style scoped lang="scss">
    $gold: #DFD3C3;
    $lightgold: #AAA195;
    .blog{
        background:#000;
        .hero{
            padding-top:40px;
            img{
                width: 100%;
                border-radius:12px;
            }
            h1{
                margin-top:60px;
                font-family: 'DM Serif Display', serif;
                font-size:42px;
                line-height: 52px;
                color:$gold;
                margin-bottom:30px;
            }
            p{
                font-size:16px;
                color:$lightgold;
                font-family: 'Inter', sans-serif;
            }
            small{
                color:$lightgold;
            }
        }
        .main-content{
            margin-top:120px;
            blockquote{
                border-left:1px solid $gold;
                margin-left:0px;
                padding-left:20px;
            }
            img{
                width: 100%;
            }
            h3{
                color:$lightgold;
                font-family: 'DM Serif Display', serif;
                font-size:32px;
            }
            h4{
                color:$lightgold;
                font-size:28px;
                font-family: 'DM Serif Display', serif;
            }
            a{
                color:$gold;
                border-bottom:1px solid $gold;
            }
            p, ul li, ol li{
                font-family: 'Inter', sans-serif;
                color:$lightgold;
                font-size:16px;
            }
            ul li, ol li{
                padding:0px;
                margin-bottom:20px;
            }
            small{
                color:$lightgold;
                display: inline-block;
                margin-bottom:20px;
                font-style: italic;
            }
        }
    }
</style>
