<template>
<!-- eslint-disable max-len -->
    <div class="blog">
        <div class="hero">
            <div class="ui container">
                <div class="ui grid stackable">
                    <div class="ten wide column">
                        <img src="@/assets/blogposts/ux_practices.jpeg" alt="">
                    </div>
                    <div class="six wide column">
                        <h1>UX Practices For An Ecommerce Shop</h1>
                        <p>One of the challenges in creating an ecommerce shop is how to convert visitors into potential customers. The best way to go about this is ensuring that your visitors can easily find what they’re looking for in your website, and then buy it quickly, and easily.</p>
                        <p>I will be going about with creating a sample ecommerce product page, and checkout flow that works.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="ui container">
                <div class="ui grid centered stackable">
                    <div class="ten wide column">
                        <h4>1. Speed up your site</h4>
                        <img src="@/assets/blogposts/ecommerce_tips_7.png" alt="">
                        <p>A research done by the <a href="https://www.nngroup.com/">Nielsen Normap Group</a>&nbsp;summarized that within 10-20 seconds of reaching your site, users may leave it once it takes too long for the website to load. Fast load times is tantamount to good user interaction. Aside from creating a good looking website, it would be useless in the end if it takes too long for it to finish loading.</p>
                        <p>Here are things that you can do:</p>
                        <ul>
                        <li>Compress your images, since large sized photos take too long to load. You can use sites <a href="https://tinypng.com">like&nbsp;https://tinypng.com</a>&nbsp;to do this.</li>
                        <li>Implement lazy loading of elements under the fold to create the illusion that the page has already loaded. <a href="https://www.sitepoint.com/five-techniques-lazy-load-images-website-performance/">How to implement lazy loading</a></li>
                        <li>For mobile users, implement responsive design, and use responsive images to load a different version of the image (smaller sized for mobile). <a href="https://developer.mozilla.org/en-US/docs/Learn/HTML/Multimedia_and_embedding/Responsive_images">How to use responsive images<br>
                        </a></li>
                        </ul>
                        <img src="@/assets/blogposts/ecommerce_mobile.png" alt="">
                        <h4>2. Sometimes a minimalist layout isnt the way to go</h4>
                        <img src="@/assets/blogposts/ecommerce_tips_1.png" alt="">
                        <p>Yes, there are websites that look great, with large, clean and beautiful white space. Artistically, these look great. But in a business sense, it might be a good idea to add relevant information in your product page that your users might want to see.</p>
                        <h4>3. Add relevant products to your product pages</h4>
                        <img src="@/assets/blogposts/ecommerce_tips_2.png" alt="">
                        <p>The purpose of adding a related products section is to:</p>
                        <ul>
                        <li>Showing options to your users increases the chance of additional sales</li>
                        <li>If they are researching, seeing other options satisfy this need.</li>
                        <li>Just like what we do in the grocery store, we walk around to look for a can of milk. At the checkout counter, we now have 3 boxes of chocolate chip cookies, because we saw it on our way to the milk aisle.</li>
                        </ul>
                        <h4>4. Security, and trust seals</h4>
                        <img src="@/assets/blogposts/ecommerce_tips_3.png" alt="">
                        <img src="@/assets/blogposts/ecommerce_checkout.png" alt="">
                        <p>The average perception of a site’s security is from their gut feeling. If they feel that your website looks secure. This will increase retention of your users, and more chances of them completing the site:</p>
                        <p>Adding credit card, and trust seals will create that sense of trust, and security that users seek.</p>
                        <p>Another thing would be is adding HTTPS. This is tantamount to creating a sense of security to your website. AND, AND this greatly improves your SEO. A recent change to Googles search analytics say that https will now be a factor in increasing SEO ranking when users search a product on Google. <a href="https://webmasters.googleblog.com/2014/08/https-as-ranking-signal.html">[HTTPS as a ranking signal]</a></p>
                        <h4>5. Customer feedback, and reviews</h4>
                        <img src="@/assets/blogposts/ecommerce_tips_4.png" alt="">
                        <ul>
                        <li>Adding customer review will also help with SEO. Software company MOZ <a href="https://moz.com/local-search-ranking-factors">suggests</a> the customer reviews is one of 7 factors for search engine rankings.</li>
                        <li>Getting into your customers heads, and knowing what they think about the product. Thus, giving you the data which product sells more, and less.</li>
                        <li>Customer feedback can foster trust, and boost potential shoppers confidence in your website. (Potential buyers can see that, other people are actually using the store)</li>
                        </ul>
                        <h4>6. Help users finish their shopping</h4>
                        <img src="@/assets/blogposts/ecommerce_tips_6.png" alt="">
                        <p><img class="alignnone size-full wp-image-787" src="http://marionserenio.com/wp-content/uploads/2018/04/ecommerce_tips_6.png" alt=""></p>
                        <p>Not everyone finishes their shopping as soon as they get on in your site. Sometimes they don’t feel like buying that day, or maybe they have better things to do in that particular time. Remembering what is in their cart, and showing them their unfinished shopping will remind them of that, and giving them the opportunity to finish is one of the best things you do as a site owner.</p>
                        <p>&nbsp;</p>
                        <p>When designing, and creating the UX for your ecommerce site. Put your self in your users shoes, and think of what they would want to see, and what will help them with completing the task at hand.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style scoped lang="scss">
    $gold: #DFD3C3;
    $lightgold: #AAA195;
    .blog{
        background:#000;
        .hero{
            padding-top:40px;
            img{
                width: 100%;
                border-radius:12px;
            }
            h1{
                margin-top:60px;
                font-family: 'DM Serif Display', serif;
                font-size:42px;
                line-height: 52px;
                color:$gold;
                margin-bottom:30px;
            }
            p{
                font-size:16px;
                color:$lightgold;
                font-family: 'Inter', sans-serif;
            }
        }
        .main-content{
            margin-top:120px;
            img{
                width: 100%;
            }
            h3{
                color:$lightgold;
                font-family: 'DM Serif Display', serif;
                font-size:32px;
            }
            h4{
                color:$lightgold;
                font-size:28px;
                font-family: 'DM Serif Display', serif;
            }
            a{
                color:$gold;
                border-bottom:1px solid $gold;
            }
            p, ul li{
                font-family: 'Inter', sans-serif;
                color:$lightgold;
                font-size:16px;
            }
            ul li{
                margin-bottom:20px;
            }
        }
    }
</style>
