<template>
<div>
    <Header />
        <div class="about">
            <div class="hero">
            <div class="ui container">
                <div class="ui grid centered stackable">
                <div class="ui ten wide column">
                    <h1 data-aos="fade-down"  data-aos-duration="1000" data-aos-delay="200">Hello! </h1>
                    <img src="@/assets/about/about_hero_image.png" alt="" data-aos="fade-right"  data-aos-duration="1200" data-aos-delay="500">
                    <div class="h2line" data-aos="fade-left"  data-aos-duration="1200" data-aos-delay="900"></div>
                    <h2 data-aos="fade-up"  data-aos-duration="1000" data-aos-delay="200">Get to know Me better</h2>
                </div>
                </div>
            </div>
            </div>

            <div class="second">
            <div class="ui container">
                <div class="ui grid centered stackable">
                <div class="twelve wide column">
                    <h3 data-aos="fade-up"  data-aos-duration="500" data-aos-delay="100">
                    I’m an Interaction Designer, and I create beautiful and usable interfaces, for desktop and mobile applications.</h3>
                </div>
                </div>
            </div>
            </div>

            <div class="third">
            <div class="ui container">
                <div class="ui grid centered stackable">
                <div class="twelve wide column">
                    <div class="ui two column grid stackable">
                    <div class="column">
                        <h4 data-aos="fade-right"  data-aos-duration="500" data-aos-delay="700" data-aos-offset="120">My Process, and how I work</h4>
                        <p data-aos="fade-right"  data-aos-duration="700" data-aos-delay="900" data-aos-offset="120">
                        When I start working on a project, I try to get all the information, and data from my client
                        that are relevant to the project. Goals, demographics, preferred aesthetics, and more. I then start
                        researching about the industry, competition, and the best way to go about the project.
                        After I have all the data that I need, I start working on the wireframe, and prototype
                        using Adoebe XD. When the prototyping phase is finished, and the
                        wireframes are finalized, and approved. This is where I start doing the visual
                        designs still using Adobe ZD, Illustrator or sometimes Sketch. After the visual designs are approved,
                        I then start developing the designs to html/css/javascript with responsiveness, and best practices in mind.</p>
                    </div>
                    <div class="column">
                        <img src="@/assets/about/process_img.png" class="process_img" alt="" data-aos="fade-down"  data-aos-duration="800" data-aos-delay="1000">
                    </div>

                    <div class="column">
                        <img src="@/assets/about/tools_img.png" class="tools_img" alt="" data-aos="fade-down"  data-aos-duration="800" data-aos-delay="1000">
                    </div>
                    <div class="column">
                        <h4 data-aos="fade-left"  data-aos-duration="500" data-aos-delay="700" data-aos-offset="120">What I use</h4>
                        <p data-aos="fade-left"  data-aos-duration="700" data-aos-delay="900" data-aos-offset="120">
                        I use a number of tools that make design and development much easier. For rapid prototyping wireframes,
                        and full visual designs; I use Adobe XD.
                        <br>
                        <br>
                        For Front-end Development, and static websites, I use Node.js with Vue, and SCSS as my Preprocessor.
                        <br>
                        <br>
                        When it comes to full-fledged web applications, I use Laravel PHP framework as my go-to tech stack for developing boutique
                        applications, and sofware.
                        <br>
                        <br>
                        I can also uuse WordPress for simple websites, and Woocommerce for Ecommerce projects
                        <br>
                        <br>
                        If you want to work with me, you can email me at bricksandcanvas {at} gmail.com
                        </p>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    <Footer />
</div>
</template>
<style scoped lang="scss">
  $gold: #DFD3C3;
  $lightgold: #AAA195;
  .about{
    background:#000;
    .hero{
      text-align: center;
      height:100vh;
      .ten.wide.column{
        position: relative;
      }
      h1{
        color:$gold;
        font-family: 'DM Serif Display', serif;
        font-size:120px;
        font-weight: normal;
        position: absolute;
        top:100px;
        left:-150px;
        z-index:20;
      }
      h2{
        color:$gold;
        font-family: 'DM Serif Display', serif;
        font-size:100px;
        line-height: 90px;
        font-weight: normal;
        position: absolute;
        bottom:0px;
        right:-150px;
        display: block;
        width:500px;
        z-index:20;
      }
      .h2line{
        display: block;
        height:1px;
        width: 120px;
        background:$gold;
        position:absolute;
        right:240px;
        bottom:290px;
      }
      img{
        display: inline-block;
        text-align: center;
        position: relative;
        z-index:10;
        margin-left:100px;
        margin-top:100px;
      }
    }
    .second{
      padding:120px 0px;
      height:100vh;
      h3{
        text-align: center;
        color:$lightgold;
        font-family: 'DM Serif Display', serif;
        font-size:70px;
      }
    }
    .third{
      color:#fff;
      padding:120px 0px;
      h4{
        color:#fff;
        font-size:46px;
        font-family: 'DM Serif Display', serif;
        z-index:20;
        position: relative;
        color:$gold;
      }
      p{
        color:$gold;
        font-size:15px;
        font-family: 'Inter', sans-serif;
        color:$lightgold;
        line-height: 30px;
        z-index:20;
        position: relative;
        text-shadow:0px 0px 20px #000;
      }
      .process_img{
        margin-left:-70px;
        position: relative;
      }
      .tools_img{
        margin-top:120px;
        margin-right:-40px;
        float: right;
      }
    }
  }
@media (max-width: 768px) and (min-width: 240px) {
      .about{
        .hero{
          height:370px;
          img{
            display:none;
          }
          h1{
            top:0px;
            margin-top:120px;
            left:0px;
          }
          h2{
            top:0px;
            right:0px;
            width:auto;
            display:inline-block;
            line-height:46px !important;
          }
          .h2line{
            display:none;
          }
          h1, h2{
            font-size:42px !important;
            position:relative !important;
            top:none;
            display:inline-block;
            right:none;
          }
        }
        .second{
          height:auto !important;
          h3{
            font-size:32px !important;
          }
        }
        .process_img, .tools_img{
          display:none;
        }
      }
    }
</style>
