<template>
<div>
    <Header />
    <div class="contact">
        <div class="ui grid stackable">
            <div class="four wide column">
                <h6 data-aos="fade-down"  data-aos-duration="1000" data-aos-delay="400">STUDIO</h6>
                <ul>
                    <li data-aos="fade-down"  data-aos-duration="1000" data-aos-delay="500">15F, HM Tower <br>
                        West Geonzon St., Lahug <br>
                        Cebu City, Cebu Philippines 6000
                    </li>
                </ul>
                <h6 data-aos="fade-down"  data-aos-duration="1000" data-aos-delay="600">EMAIL</h6>
                <ul>
                    <li data-aos="fade-down"  data-aos-duration="1000" data-aos-delay="700">bricksandcanvas@gmail.com
                    </li>
                </ul>
                <h6 data-aos="fade-down"  data-aos-duration="1000" data-aos-delay="800">CONTACT</h6>
                <ul>
                    <li data-aos="fade-down"  data-aos-duration="1000" data-aos-delay="900"><a href="skype:live:.cid.3782232d087e4a4a?chat">Skype</a></li>
                    <li data-aos="fade-down"  data-aos-duration="1000" data-aos-delay="1000"><a href="https://api.whatsapp.com/send?phone=639086742983">WhatsApp</a></li>
                </ul>
                <h6 data-aos="fade-down"  data-aos-duration="1000" data-aos-delay="1100">SOCIAL</h6>
                <ul>
                    <li data-aos="fade-down"  data-aos-duration="1000" data-aos-delay="1200"><a href="http://instagram.com/bricksandcanvas">Instagram</a></li>
                    <li data-aos="fade-down"  data-aos-duration="1000" data-aos-delay="1300"><a href="http://behance.net/bricksandcanvas">Behance</a></li>
                    <li data-aos="fade-down"  data-aos-duration="1000" data-aos-delay="1400"><a href="https://www.linkedin.com/in/bricksandcanvas/">Linkedin</a></li>
                    <li data-aos="fade-down"  data-aos-duration="1000" data-aos-delay="1500"><a href="http://twitter.com/bricksandcanvas">Twitter</a></li>
                    <li data-aos="fade-down"  data-aos-duration="1000" data-aos-delay="1600"><a href="http://dribbble.com/bricksandcanvas">Dribbble</a></li>
                </ul>
            </div>
            <div class="twelve wide column">
                <h1 data-aos="fade-down"  data-aos-duration="1000" data-aos-delay="200">Get in Touch</h1>
            </div>
        </div>
    </div>
    <Footer />
</div>
</template>
<style scoped lang="scss">
  $gold: #DFD3C3;
  $lightgold: #AAA195;
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200&display=swap');
    .contact{
        height:calc(100vh - 90px);
        background:#000;
        color:#fff;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
            h6{
                font-family: 'Inter', sans-serif;
                font-size:12px;
                letter-spacing: 3px;
                margin-bottom:10px;
                color:$gold;
                margin-left:40px;
            }
            ul{
                margin:0px 0px 0px 40px;
                font-family: 'Inter', sans-serif;
                padding:0px;
                list-style: none;
                li{
                    line-height: 18px;
                    font-size:11px;
                    a{
                        color:$lightgold;
                    }
                }
            }
        h1{
            font-family: 'Noto Serif SC', serif;
            font-family: 'DM Serif Display', serif;
            text-align: right;
            font-size:280px;
            font-weight: normal;
            margin-right:40px;
            line-height: 240px;
            color:$lightgold;
        }
    }
@media (max-width: 768px) and (min-width: 240px) {
        .contact{
                h1{
                    margin-top:0px;
                    font-size:52px;
                    line-height:42px;
                    text-align:left;
                    margin-bottom:0px;

                }
        }
        .ui.grid{
            display:flex;
            flex-wrap: wrap;
            flex-direction: row;
            .four.wide.column{
                order:2;
                ul, h6{
                    margin-left:0px;
                }
                h6{
                    margin-top:0px;
                }
            }
            .twelve.wide.column{
                order:1;
            }
        }
    }
</style>
