<template>
<div>
    <Header />
        <div class="blog">
            <div class="hero">
                <div class="ui container">
                    <div class="ui grid stackable">
                        <div class="six wide column">
                            <h1>LemonSwap</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-content">
                <div class="ui container">
                    <div class="ui grid centered stackable">
                        <div class="sixteen wide column">
                            <div class="ui container single-content">
                                <img src="@/assets/casestudies/defi/Defi_1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <Footer />
</div>
</template>
<style scoped lang="scss">
    $gold: #DFD3C3;
    $lightgold: #AAA195;
    .blog{
        background:#000;
        .hero{
            padding-top:40px;
            img{
                width: 100%;
                border-radius:12px;
            }
            h1{
                margin-top:60px;
                font-family: 'DM Serif Display', serif;
                font-size:42px;
                line-height: 52px;
                color:$gold;
                margin-bottom:30px;
            }
            p{
                font-size:16px;
                color:$lightgold;
                font-family: 'Inter', sans-serif;
            }
        }
        .main-content{
            margin-top:120px;
            blockquote{
                border-left:1px solid $gold;
                margin-left:0px;
                padding-left:20px;
            }
            img{
                width: 100%;
            }
            h3{
                color:$lightgold;
                font-family: 'DM Serif Display', serif;
                font-size:32px;
            }
            h4{
                color:$lightgold;
                font-size:28px;
                font-family: 'DM Serif Display', serif;
            }
            a{
                color:$gold;
                border-bottom:1px solid $gold;
            }
            p, ul li, ol li{
                font-family: 'Inter', sans-serif;
                color:$lightgold;
                font-size:16px;
            }
            ul li, ol li{
                padding:0px;
                margin-bottom:20px;
            }
        }
    }
</style>
